/vendor
/node_modules
Homestead.yaml
.env
public/assets/css/
public/assets/js/
!public/assets/css/.gitkeep
public/uploads
.idea
.idea/
node_modules
bower_components
.DS_Store
Thumbs.db
.sass-cache
/thout-opt-dir
/config/app.php
/config/database.php
gulpfile.js
.tern-port
/log
