/bootstrap/compiled.php
/vendor
composer.phar
.env.php
.DS_Store
Thumbs.db
.sass-cache
/.build
/bin/
/composer.phar
node_modules
bower_components
*.lock
*.sublime-*

.idea
.idea/

/public/assets/css/style.css
