/vendor
/node_modules
Homestead.yaml
.env
/public/assets/css/style.css
/public/assets/css/style.css.map
.idea
.idea/
node_modules
bower_components
.DS_Store
Thumbs.db
.sass-cache
/thout-opt-dir
/config/app.php
/config/database.php
