html body {
  font-family: 'Open Sans', sans-serif; }

.main {
  background: #eee; }

.header-search {
  background: #404042;
  color: #fff;
  padding: 20px; }
  .header-search input {
    width: 100%;
    height: 40px;
    padding: 5px; }

.wide-search {
  height: 0px;
  display: none;
  height: 137px; }

.search-large {
  width: 100%;
  height: 137px;
  padding: 10px;
  font-size: 1.6em; }

.auth > div, h4 {
  cursor: pointer; }

.register .modal-dialog {
  max-width: 400px;
  overflow-wrap: break-word; }

.register input, .login input {
  margin: 15px 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px; }

.bx-wrapper.ng-scope .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: none; }

.view-row {
  margin: 20px 0; }

.icon, .list-icon, .map-icon, .cal-icon {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 0 10px; }

.list-icon {
  background: url("/img/viewSelectSprite.png") no-repeat 0 0; }

.map-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -69px 0; }

.cal-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -119px 0; }

.view-select {
  height: 60px; }

.event {
  padding: 20px; }

.event-inner {
  background: #fff;
  height: 320px; }
  .event-inner img {
    width: 100%; }

.event-details {
  padding: 10px 20px; }

.uppercase {
  text-transform: uppercase; }

.inline {
  display: inline; }

.center {
  text-align: center; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.day-slider {
  background: #d1d2d4;
  height: auto;
  padding: 0 40px; }

.right {
  float: right; }

.left {
  float: left; }

@media screen and (max-width: 768px) {
  .event-inner {
    height: 100%; } }
