//Color Pallate and variables


//Temp UX colors, grey

$dark-grey: #2C2625;
$grey: #404042;
$light-grey: #D1D2D4;

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

//End Vars

html {
	@extend .open-sans;
}

body {
	@extend .open-sans;
}

.main-container {
	background: rgba(45, 63, 90, 0.7);
	z-index: 2;
}
	

.overlay {
	padding: 0;
	background: url('/img/fullWidthBG.png') no-repeat #2c2625;
	background-size: contain;
	-moz-background-size: contain;
	z-index: 1;
}

.grey-wide {
	background: $dark-grey;
}


// .main {
	

// }

.header-search {
	color: #fff;
	padding: 20px;
	input {
		width: 100%;
		height: 50px;
		padding: 5px;
		background: transparent;
		border: 2px solid #fff;
	}
}

.wide-search {
	height: 0px;
	display: none;
	height: 137px;
}

.search-large {
	width: 100%;
	height: 137px;
	padding: 10px;
	font-size: 1.6em;
	background: transparent;
	color: #fff;
	border: 4px solid #FF5C50;
	position: absolute;
	width: 100%;
	left: 0;
	padding: 0 50px;
	&:focus {
		outline: none;
	}
}

.auth > div, h4 {
	cursor: pointer;
}

.modal-dialog {
	max-width: 500px;
	overflow-wrap:break-word;
}

.event-category {
	padding: 10px 5px;
	border: 2px solid #395467;
	color: #395467;
	background: #fff;
	border-radius: 15px;
	cursor: pointer;
	&.active {
		background: #395467;
		color: #fff;
	}
}

.register, .login {
	input {
		margin: 15px 0;
		width: 100%;
		height: 40px;
		padding: 10px 15px;
	}
}

.event-slider > .bx-wrapper > .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border:  none;
	left: 0;
	background: none;
}



.carousel-inner {
	padding: 0 10%;
}

.day-slider {
	max-width: 1170px;
	margin: 0 auto;
	height: auto;
	padding: 0 40px;
	color: #fff;
}

.day-slider-container {
	margin: 20px 0;
	background: #2C2625;
	max-width: 100%;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}


//view icons 
.view-row {
	margin: 20px 0;
}

.icon {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin: 0 10px;
}
 
.list-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat 0 0;
}

.map-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat -69px 0;
}

.cal-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat -119px 0;
}


.view-select {
	height: 60px;
	color: #fff;
	margin: 0 auto;
	max-width: 1170px;
}

.event {
	padding: 20px;
}

.facebookButton {
	background: #3b5998 url("/img/facebookIcon.png") no-repeat 93% 12px/17.5px 35px;
	width: 100%;
	color: #fff;
	padding: 12px;
}

.lucida {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.event-inner {
	background: #fff;
	height: 400px;
	img {
		width: 100%;
	}
}

.event-details {
	padding: 10px 20px;
}

.create-account {
	padding: 10px 15px;
	background: #FF5C50;
	border-radius: 20px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 5px 0;
	display: block;
}

.header-container {
	max-width:1170px;
	margin: 0 auto;
}

.event-counter {
	padding: 60px 0;
}

// Map view 

#map_canvas {
	height: 600px;
	width: 100%;
}

.tab-content {
	position: absolute;
	z-index: 1;
	background: #eee;
	color: #454546;
	padding: 20px;

}


//Client Validation Styles 

.register input.ng-invalid {
	border: 1px solid #FF5C50;
}

.register input.ng-pristine {
	border: 1px solid #ddd;
}




//All purpose classes 

.wide-kerning {
	letter-spacing: .8em;
}

.uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.white {
	color: #fff;
}

.block {
	display: block;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.right {
	float: right;
}

.left {
	float: left;
}


@media screen and (max-width: 768px) {

	.event-inner {
		height: 100%;
	}

}