//Color Pallate and variables


//Temp UX colors, grey

$grey: #404042;
$light-grey: #D1D2D4;

//End Vars

html body {
	font-family: 'Open Sans', sans-serif;
}

.main {
	background: #eee;
}

.header-search {
	background: $grey;
	color: #fff;
	padding: 20px;
	input {
		width: 100%;
		height: 40px;
		padding: 5px;
	}
}

.wide-search {
	height: 0px;
	display: none;
	height: 137px;
}

.search-large {
	width: 100%;
	//height should by dynamically set by js for mobile view
	height: 137px;
	padding: 10px;
	font-size: 1.6em;
	// display: none;
}

.auth > div, h4 {
	cursor: pointer;
}

.register .modal-dialog {
	max-width: 400px;
	overflow-wrap:break-word;
}

.register, .login {
	input {
		margin: 15px 0;
		width: 100%;
		height: 40px;
		padding: 10px 15px;
	}
}

//view icons 
.view-row {
	margin: 20px 0;
}

.icon {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin: 0 10px;
}
 
.list-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat 0 0;
}

.map-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat -69px 0;
}

.cal-icon {
	@extend .icon;
	background: url('/img/viewSelectSprite.png') no-repeat -119px 0;
}


.view-select {
	height: 60px;
}

.event {
	padding: 20px;
}

.event-inner {
	background: #fff;
	height: 320px;
	img {
		width: 100%;
	}
}

.event-details {
	padding: 10px 20px;
}

//All purpose classes 

.uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}

.center {
	text-align: center;
}

.block {
	display: block;
}

.bold {
	font-weight: bold;
}


.day-slider {
	background: $light-grey;
	height: auto;
	padding: 0 40px;
}

.right {
	float: right;
}

.left {
	float: left;
}


@media screen and (max-width: 768px) {

	.event-inner {
		height: 100%;
	}

}