.open-sans, html, body {
  font-family: 'Open Sans', sans-serif; }

.bgContainer {
  background: url("/img/fullWidthBG.png") no-repeat #2c2625;
  background-size: contain;
  -moz-background-size: contain; }

.header-search {
  color: #fff;
  padding: 20px; }
  .header-search input {
    width: 100%;
    height: 50px;
    padding: 5px;
    background: transparent;
    border: 2px solid #fff; }

.wide-search {
  height: 0px;
  display: none;
  height: 137px; }

.search-large {
  width: 100%;
  height: 137px;
  padding: 10px;
  font-size: 1.6em; }

.auth > div, h4 {
  cursor: pointer; }

.register .modal-dialog, .login .modal-dialog {
  max-width: 400px;
  overflow-wrap: break-word; }

.register input, .login input {
  margin: 15px 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px; }

.bx-wrapper.ng-scope .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: none; }

.view-row {
  margin: 20px 0; }

.icon, .list-icon, .map-icon, .cal-icon {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 0 10px; }

.list-icon {
  background: url("/img/viewSelectSprite.png") no-repeat 0 0; }

.map-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -69px 0; }

.cal-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -119px 0; }

.view-select {
  height: 60px;
  color: #fff; }

.event {
  padding: 20px; }

.facebookButton {
  background: #3b5998 url("/img/facebookIcon.png") no-repeat 93% 12px/17.5px 35px;
  width: 100%;
  color: #fff;
  padding: 12px; }

.lucida {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

.event-inner {
  background: #fff;
  height: 320px; }
  .event-inner img {
    width: 100%; }

.event-details {
  padding: 10px 20px; }

.register .ng-invalid {
  border: 1px solid #FF5C50; }

.uppercase {
  text-transform: uppercase; }

.inline {
  display: inline; }

.center {
  text-align: center; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.day-slider {
  height: auto;
  padding: 0 40px;
  color: #fff; }

.right {
  float: right; }

.left {
  float: left; }

@media screen and (max-width: 768px) {
  .event-inner {
    height: 100%; } }
