.proxima, html, body {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 400; }

.proxima-light {
  font-weight: 200; }

.proximaItalic {
  font-family: "proxima-nova",sans-serif;
  font-style: italic;
  font-weight: 400; }

.proximaBold {
  font-family: "proxima-nova",sans-serif;
  font-style: normal;
  font-weight: 700; }

html {
  background: #2c2625; }

.main-container {
  z-index: 2;
  background: rgba(16, 41, 70, 0.56);
  background: -moz-linear-gradient(top, rgba(16, 41, 70, 0.56) 0%, rgba(16, 41, 70, 0.5) 55%, rgba(16, 41, 70, 0) 99%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(16, 41, 70, 0.56)), color-stop(55%, rgba(16, 41, 70, 0.5)), color-stop(99%, rgba(16, 41, 70, 0)));
  background: -webkit-linear-gradient(top, rgba(16, 41, 70, 0.56) 0%, rgba(16, 41, 70, 0.5) 55%, rgba(16, 41, 70, 0) 99%);
  background: -o-linear-gradient(top, rgba(16, 41, 70, 0.56) 0%, rgba(16, 41, 70, 0.5) 55%, rgba(16, 41, 70, 0) 99%);
  background: -ms-linear-gradient(top, rgba(16, 41, 70, 0.56) 0%, rgba(16, 41, 70, 0.5) 55%, rgba(16, 41, 70, 0) 99%);
  background: linear-gradient(to bottom, rgba(16, 41, 70, 0.56) 0%, rgba(16, 41, 70, 0.5) 55%, rgba(16, 41, 70, 0) 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#102946', endColorstr='#102946', GradientType=0 ); }

.bg-image {
  padding: 0;
  background: url("/img/fullWidthBG.png") no-repeat #2c2625;
  background-size: contain;
  -moz-background-size: contain;
  z-index: 1;
  min-height: 1000px; }

.grey-wide {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.35) -1%, #2c2626 10%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-1%, rgba(0, 0, 0, 0.35)), color-stop(10%, #2c2626));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.35) -1%, #2c2626 10%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.35) -1%, #2c2626 10%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.35) -1%, #2c2626 10%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) -1%, #2c2626 10%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59000000', endColorstr='#2c2626',GradientType=0 );
  /* IE6-9 */
  margin-top: 25px; }

.grey-wide-map {
  background: rgba(0, 0, 0, 0.35); }

.search-search::-moz-placeholder {
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: .1em;
  text-align: left;
  font-weight: 300; }

.search-large::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: .1em;
  text-align: left;
  font-weight: 300; }

.main-search::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: .1em;
  text-align: center;
  font-weight: 300; }

.main-search::-moz-placeholder {
  color: #fff !important;
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: .1em;
  text-align: center;
  font-weight: 300; }

.main-search {
  color: #fff; }

.carousel-control.right {
  background-image: none;
  margin-right: -5px; }

.carousel-control.left {
  background-image: none;
  margin-left: -5px; }

.glyphicon.glyphicon-chevron-right {
  height: 50px;
  width: 100%;
  right: 0; }
  .glyphicon.glyphicon-chevron-right:before {
    content: url("/img/sliderRight.png");
    cursor: pointer; }

.glyphicon.glyphicon-chevron-left {
  height: 50px;
  width: 100%;
  left: 0; }
  .glyphicon.glyphicon-chevron-left:before {
    content: url("/img/sliderLeft.png");
    cursor: pointer; }

.carousel-indicators {
  display: none; }

.header-search {
  color: #fff;
  padding: 20px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center; }
  .header-search input {
    width: 100%;
    height: 60px;
    padding: 5px;
    border: 2px solid #fff;
    background: url("/img/searchIcon.png") 35px 16px/23px 26px no-repeat; }

.wide-search {
  height: 0px;
  display: none;
  height: 112px; }

.search-large {
  width: 100%;
  height: 137px;
  padding: 10px;
  font-size: 1.6em;
  background: transparent;
  color: #fff;
  border: 4px solid #FF5C50;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 15%;
  background: url("/img/searchIcon.png") 180px 55px/23px 26px no-repeat; }
  .search-large:focus {
    outline: none; }

.header-search .auth {
  cursor: pointer; }

.modal-dialog {
  max-width: 500px;
  overflow-wrap: break-word; }

.close {
  float: right;
  font-size: 31px;
  font-weight: 700;
  line-height: 1;
  color: #0D0C0C;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .5;
  z-index: 10;
  position: relative;
  margin-right: 10px; }

.modal-backdrop {
  background-color: #1E405D; }
  .modal-backdrop.in {
    opacity: .7; }

.modal-body p {
  margin: 0; }

.modal-description {
  padding-bottom: 20px;
  border-bottom: 1px solid #B1ADB1; }

.modal-categories {
  margin: 20px 0; }

.category-box {
  padding: 5px;
  border: 1px solid #B1ADB1;
  display: inline;
  margin-right: 10px; }

.modal-image-wrapper {
  background: rgba(3, 3, 3, 0);
  background: -moz-linear-gradient(top, rgba(3, 3, 3, 0) 0%, rgba(0, 0, 0, 0.59) 98%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3, 3, 3, 0)), color-stop(98%, rgba(0, 0, 0, 0.59)), color-stop(100%, rgba(0, 0, 0, 0.6)));
  background: -webkit-linear-gradient(top, rgba(3, 3, 3, 0) 0%, rgba(0, 0, 0, 0.59) 98%, rgba(0, 0, 0, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(3, 3, 3, 0) 0%, rgba(0, 0, 0, 0.59) 98%, rgba(0, 0, 0, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(3, 3, 3, 0) 0%, rgba(0, 0, 0, 0.59) 98%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(3, 3, 3, 0) 0%, rgba(0, 0, 0, 0.59) 98%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#030303', endColorstr='#000000', GradientType=0 );
  height: 300px; }

.modal-image {
  height: 300px;
  width: 100%;
  position: relative; }

.modal-title-event {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff; }

.modal-header-event {
  padding: 0; }

.event-category {
  padding: 10px 5px;
  border: 2px solid #BEB9BD;
  color: #BEB9BD;
  background: #fff;
  cursor: pointer;
  text-transform: uppercase; }
  .event-category.active {
    background: #fff;
    color: #FF5C50;
    border: 2px solid #FF5C50; }

.category-item {
  display: inline-block;
  margin: 0 2px; }

.categories {
  background: #f7eeef;
  padding: 0 50px; }

.register, .login {
  background: #f7eeef;
  padding: 0 40px; }
  .register input, .login input {
    margin: 15px 0;
    width: 100%;
    height: 50px;
    padding: 10px 15px; }
  .register ::-webkit-input-placeholder, .login ::-webkit-input-placeholder {
    color: #BCBABD;
    text-align: left; }
  .register ::-moz-input-placeholder, .login ::-moz-input-placeholder {
    color: #BCBABD;
    text-align: left; }
  .register :-moz-input-placeholder, .login :-moz-input-placeholder {
    color: #BCBABD;
    text-align: left; }
  .register .center.margin, .login .center.margin {
    cursor: default; }

.event-slider {
  max-width: 1170px;
  margin: 0 auto;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -moz-transition: all linear 0.5s; }

.event-slider > .bx-wrapper > .bx-viewport {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  left: 0;
  background: none; }

.carousel-inner {
  max-width: 90%;
  margin: 0 auto; }

.day-slider {
  max-width: 1170px;
  margin: 0 auto;
  height: auto;
  padding: 10px 0;
  color: #fff; }

.main-date {
  margin-top: 10px; }

.prev {
  height: 50px;
  cursor: pointer;
  background: url("/img/sliderLeft.png") no-repeat 14px 5px/71px 40px; }

.next {
  height: 50px;
  cursor: pointer;
  background: url("/img/sliderRight.png") no-repeat 7px 5px/71px 40px; }

.day-slider-container {
  margin: 5px 0;
  max-width: 100%; }

.day-slider-border {
  border-top: 1px solid #fff;
  transform: scaleY(0.5); }

.blue-overlay {
  background: rgba(16, 41, 70, 0.56); }

.map {
  margin-bottom: 0; }

.map-controls {
  background: rgba(30, 30, 30, 0.3); }

.markerLabel {
  color: #fff;
  text-shadow: 2px 1px 1px #E24B44;
  font-size: 1.2em; }

.view-row {
  margin: 20px 0; }

.icon, .list-icon, .map-icon, .cal-icon {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  margin: 0 10px; }

.list-icon {
  background: url("/img/viewSelectSprite.png") no-repeat 0 0; }

.map-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -69px 0; }

.cal-icon {
  background: url("/img/viewSelectSprite.png") no-repeat -119px 0; }

.icons {
  height: 41px;
  margin: 0 auto;
  position: absolute;
  bottom: 30px;
  left: 30%; }

.icons-modal {
  height: 41px;
  margin: 0 auto;
  bottom: 30px;
  float: left; }

.event-price {
  margin: 10px; }
  .event-price h3 {
    margin: 0; }

.like-icon {
  height: 41px;
  width: 41px;
  background: url("/img/likeIcon.png") no-repeat 0 0;
  cursor: pointer;
  float: left; }
  .like-icon.active {
    background: url("/img/likeIconActive.png") no-repeat 0 0; }

.dislike-icon {
  height: 41px;
  width: 41px;
  background: url("/img/likeIcon.png") no-repeat -61px 0;
  cursor: pointer;
  float: right;
  margin-left: 20px; }
  .dislike-icon.active {
    background: url("/img/likeIconActive.png") no-repeat -61px 0; }

.event {
  padding: 10px; }

.facebookButton {
  background: #3b5998 url("/img/facebookIcon.png") no-repeat 93% 12px/17.5px 35px;
  width: 100%;
  color: #fff;
  padding: 12px;
  cursor: pointer; }

.lucida {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 1.4em; }

.event-inner {
  background: #f6efee;
  height: 325px; }
  .event-inner img {
    width: 100%; }

.event-details {
  padding: 10px 20px;
  text-align: left; }

.create-account {
  padding: 10px 15px;
  background: #FF5C50;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  display: block; }

.accountCreate {
  padding-right: 15px;
  border-right: 1px solid #fff; }

.accountSignIn {
  margin-left: 10px; }

.buy {
  padding: 10px 15px;
  background: #FF5C50;
  border: none;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 1px 1px #E24B44; }

.view-select {
  height: 60px;
  color: #fff;
  margin: 40px auto 0;
  padding: 0 5%;
  max-width: 1170px; }
  .view-select.map {
    margin: 0 auto; }

.map-ctrl {
  color: #47ACF4;
  text-transform: uppercase; }
  .map-ctrl.prev-ctrl {
    background: url("/img/prevIcon.png") #f6efee 20px 25px/11px 18px no-repeat;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 50%;
    padding: 25px 40px; }
  .map-ctrl.next-ctrl {
    background: url("/img/nextIcon.png") #f6efee 120px 25px/11px 18px no-repeat;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 50%;
    padding: 25px 75px; }

.map-margin {
  margin: 40px 0 0 0; }

.header-container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 5%; }

.event-counter {
  padding: 60px 0; }

.angular-google-map-container {
  height: 820px;
  width: 100%; }

.tab-content {
  position: absolute;
  z-index: 1;
  background: #F6EFEE;
  color: #454546; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background: transparent;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #FF5C50;
  border: 1px solid #FF5C50;
  padding: 20px 15px 35px;
  border-radius: 0;
  cursor: pointer; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:hover:hover, .nav-tabs > li.active > a:focus:hover {
    background: rgba(255, 255, 255, 0.2); }

.nav-tabs > li > a {
  background: transparent;
  font-size: 1.4em;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 15px 35px;
  cursor: pointer;
  border-radius: 0; }
  .nav-tabs > li > a:hover {
    background: rgba(255, 255, 255, 0.2); }

.event-number {
  height: 37px;
  width: 27px;
  padding: 5px 9px;
  color: #fff;
  float: left;
  height: 50px;
  margin: 10px;
  background: url("/img/marker.png") no-repeat 0 0/27px 37px; }
  .event-number:nth-child(10) {
    padding: 5px; }

.map-event {
  padding: 10px 20px;
  border-bottom: 1px solid #BDB9BD; }
  .map-event h4 {
    margin: 2px 0; }

.calendar {
  max-width: 1170px;
  margin: 0 auto; }

.fc td {
  background: #fff; }

.register input.ng-invalid.ng-dirty {
  border: 1px solid #FF5C50; }

.register input.ng-pristine.ng-invalid {
  border: none; }

.ng-pristine .ng-invalid-required {
  box-shadow: none; }

button.create-account[disabled='disabled'] {
  background: #a3a3a3; }

.wide-kerning {
  letter-spacing: .8em; }

.uppercase {
  text-transform: uppercase; }

.inline {
  display: inline; }

.italic {
  font-style: italic; }

.center {
  text-align: center;
  margin: 0 auto; }

.blue {
  color: #47acf4; }

.red {
  color: #FF5C50; }

.summary {
  margin-bottom: 80px; }

.white {
  color: #fff; }

.margin {
  margin: 10px 0; }

.block {
  display: block; }

.bold {
  font-weight: bold; }

.pointer {
  cursor: pointer; }

.right {
  float: right; }

.left {
  float: left; }

@media screen and (max-width: 768px) {
  .event {
    padding: 0; }

  .logo {
    margin: 20px 0; }

  h3.main-date {
    font-size: 20px; }

  .glyphicon.glyphicon-chevron-right {
    height: 50px;
    width: auto;
    right: 50%; }
    .glyphicon.glyphicon-chevron-right:before {
      content: url("/img/sliderRight.png");
      cursor: pointer; }

  .carousel-control.left {
    margin-left: 0; }

  .carousel-control.right {
    margin-left: 0; }

  .uppercase.center.white.wide-kerning {
    margin: 10px 0;
    padding: 10px; }

  .glyphicon.glyphicon-chevron-left {
    height: 50px;
    width: auto;
    left: 50%; }
    .glyphicon.glyphicon-chevron-left:before {
      content: url("/img/sliderLeft.png");
      cursor: pointer; }

  .header-search input {
    background: url("/img/searchIcon.png") 8px 16px/23px 26px no-repeat; }

  .bg-image {
    background-size: inherit; }

  .modal-image {
    height: 175px;
    background-size: contain; }

  .prev {
    height: 50px;
    cursor: pointer;
    background: url("/img/sliderLeft.png") no-repeat 0px 5px/71px 40px; }

  .event-inner {
    height: 425px; }

  .next {
    height: 50px;
    cursor: pointer;
    background: url("/img/sliderRight.png") no-repeat 0px 5px/71px 40px; } }
