<div class="venue-single venueSingle">
	<div class="row">
		<div ng-repeat="category in venue.categories" class="inline">
			<span class="happ-category">{{category.name}}</span>
		</div>
	</div>
	<div class="col-md-5 venueInfo">
    <h2 class="venueText">VENUE</h2>
		<h3 class="dark bold venueName">{{venue.name}}</h3>
		<div class="venue-address">{{ display(venue.phone) + ' &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;' }} {{display(venue.address_1)}} {{display(venue.address_2)}} {{display(venue.address_3)}} {{display(venue.city)}}, {{display(venue.state)  }} {{ display(venue.postal_code)}} {{ '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;' + display(venue.hours)}} </div>
    <div class="venue-description">{{ venue.desc}}</div>
		<!--<div class="happ-buttons">
			<a class="happ-button right" href="{{data.url}}" target="_blank">Learn More</a>
			<a class="happ-button inverse right{{ likeStatus ? ' active' : '' }}" href="#" ng-model="data.vote.upVote;" ng-change="simpleVoteVenue(data , 'up')" btn-checkbox>
				<span ng-hide="likeStatus"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Like This Venue</span>
				<span ng-show="likeStatus">I Like This Venue</span>
			</a>
		</div>-->
	</div>
</div>
<div class="row" ng-if="currentUser.role=='ROLE_ADMIN'">
	<div class="col-xs-12">
		<a href="/admin/venue/edit/{{ venue.id }}" style="color: black;"><i class="fa fa-pencil-square-o"></i> Edit Venue</a>
	</div>
  <div class="venue-social">
    <a social-facebook><i class="fa fa-facebook-square fa-3x"></i></a>
    <a social-twitter><i class="fa fa-twitter-square fa-3x"></i></a>
  </div>
</div>
<div class="happ-listing">
  <div ng-repeat="happ in venue.relationships.happs" ch-happ="happ"></div>
</div>
