<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=895139070496415&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div ng-controller="venueController">
	<div class="venue-single">
		<div class="row">
			<div class="happ-image col-md-7" style="background-image: url('{{data.event_image_url}}'); background-size: cover;">
				<div ng-repeat="category in data.categories" class="inline">
					<span class="happ-category">{{category.name}}</span>
				</div>
				<div class="happ-date">{{data.start_time | dateToISO | date: 'MMM d'}}</div>
			</div>
			<div class="col-md-5">
				<h3 class="dark bold">{{data.event_name}}</h3>
				<div class="time">{{data.start_time | dateToISO | date: 'h:mm a'}} - {{data.end_time | dateToISO | date: 'h:mm a'}}</p>
				<div class="venue"><a href="{{data.venue_url}}" target="_blank">{{data.venue_name}}</a></div>
				<div class="like-icon" ng-model="data.vote.upVote" ng-change="simpleVoteEvent(data , 'up')" btn-checkbox></div>
				<a class="happ-button right" href="{{data.url}}" target="_blank">Book It Now</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="happ-description" ng-if="data.description" ng-bind-html="data.description"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				More Like This:
			</div>
			<div class="col-md-3">
				Share It:
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a class="happ-button" href="{{ data.google_directions_link }}">Get Directions</a>
			</div>
		</div>
		<div class="row">
			<a href="{{ data.google_directions_link }}"><img class="col-md-12" src="{{ data.google_map_large }}" /></a>
		</div>
	</div>
</div>
