<ul class="sidebar-menu" auto-active>
    <li ng-if="authenticated"><a href="/profile">My Account <i class="fa fa-caret-down"></i></a></li>
    <li ng-if="authenticated"><a href="/favorites">My Favorites <i class="fa fa-star"></i></a></li>
    <li ng-if="authenticated"><a href="/logout">Log Out</a></li>
    <li ng-if="!authenticated"><a href="/login">Log In</a></li>
    <li ng-if="!authenticated"><a href="/register">Register</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/venues">Venues</a></li>
    <li ng-repeat="category in categories">
        <a href="/category/{{ category.slug }}">{{ category.name }}</a>
    </li>
</ul>