<div class="container user-page-profile" ng-init="getUser();">
    <div class="row profile-header">
        <div class="col-xs-2">
            IMAGE
        </div>
        <div class="col-xs-10">
            <div class="">
                {{ curUser.user_name }}
            </div>
            <div class="">
                Active User since {{ curUser.created_at | dateToISO | date: 'MMMM yyyy' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
            {{ curUser }}
            DATA
        </div>
    </div>
</div>

<!--div class="register">
    <div class="modal-header">
        <h2 class="modal-title uppercase center">Edit Account</h2>
    </div>

    <div class="modal-body" ng-controller="registerFormController" ng-init="getUserData();">

        <form name="edit">
            <div class="editForm">
                <input type="email" readonly ng-value="formData.email" name="email" class="registerEmail block">

                <input type="text" placeholder="Your Username" ng-model="formData.username" value="{{formData.username}}" ng-model-onblur name="username" class="registerEmail block">

                <input type="password" placeholder="New password" name="password" ng-minlength='8' required
                       class="registerPassword block" ng-model="formData.password" ng-model-onblur>
                <span ng-if="edit.password.$error.minlength" style="text-align: center;">Please use a minumum of 8 characters.</span>

                <input type="password" placeholder="Re-enter new password" name="password2" required
                       ui-validate=" '$value==formData.password' " ui-validate-watch=" 'formData.password' "
                       class="registerPassword2 block" ng-model="formData.password2" ng-model-onblur>

                <span ng-show="edit.password2.$error.validator" class="block" style="text-align: center;">Passwords do not match!</span>

                <button ng-disabled="edit.password.$error.required || edit.password.$error.minlength || edit.password2.$error.required || edit.password2.$error.validator" type="button" class="create-account center" ng-click="editUserData();">Save</button>
                <br/>
            </div>
        </form>
    </div>

</div-->


