<div class="user-pages user-page-register">
    <div class="bg-image"></div>
    <div class="main-column">
        <a href="/">
            <img class="user-logo" src="/assets/img/logo-atl.png">
        </a>
        <h1 class="center">Reset Password</h1>
        <form name="resetPassForm" class="resetPasswordForm" method="POST">

            <!-- EMAIL -->
            <div class="form-group">
                <input type="email" placeholder="Email Address" autocomplete="off" ng-remote-validate="/user/exist" ng-remote-method="POST" required name="email" class="registerEmail block" ng-model="formData.email" ng-model-onblur>
                <div class="register-error" ng-if="resetPassForm.email.$error.ngRemoteValidate">This email doesn't exist; enter correct email please.</div>
                <div class="register-error" ng-if="resetPassForm.email.$error.email">Please enter a valid email address.</div>
            </div>

            <button ng-disabled="resetPassForm.email.$error.ngRemoteValidate || resetPassForm.email.$error.email || resetPassForm.email.$error.required" type="submit" class="sign-up-button" ng-click="resetPassword(formData);">Reset Password</button>
            <div class="register-error" ng-if="loginError">{{ resetError }}</div>
        </form>
        <div class="login-link">
            <a href="/register">Create a new acccount</a>
        </div>
    </div>
</div>



