	<div class="categories">
		<h5 class="pointer" ng-controller="modalController" ng-click="cancel(); registerOpen()">Back</h5>
      <div class="modal-header">
	        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h3 class="modal-title uppercase">New Account</h3>
	        <p>Select types of Activities you are interested in.</p>
      </div>

      	<div class="modal-body" ng-controller="registerFormController">
		        <div class="registerForm">
						
					<div ng-repeat="category in categories" class="category-item">	
						<label class="event-category" required ng-model="formData.categories[category.id]" btn-checkbox>{{category.name}}</label>
					</div>
			
			        <button type="submit" ng-click="processForm(); cancel(); confirmationOpen()" class="create-account" ng-disabled="registerForm.$invalid;">Submit</button>
		      </div>
		      {{formData}}
  		</div>
  	</div>