	<div class="categories">
		<h5 class="pointer" ng-controller="modalController" ng-click="cancel(); registerOpen()">Back</h5>
      <div class="modal-header">
	        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h3 class="modal-title uppercase">New Account</h3>
	        <p>Select types of Activities you are interested in.</p>
      </div>

      	<div class="modal-body" ng-controller="registerFormController">
		        <div class="registerForm">
					<label class="event-category" ng-model="formData.sports" btn-checkbox>Sports</label>
					<label class="event-category" ng-model="formData.bars" btn-checkbox>Bars</label>
					<label class="event-category" ng-model="formData.family" btn-checkbox>Family</label>
					<label class="event-category" ng-model="formData.movies" btn-checkbox>Movies</label>
		

			        <button type="submit" ng-click="processForm(); confirmationOpen()" class="create-account" ng-disabled="registerForm.$invalid">Submit</button>
		      </div>
		      {{formData}}
  		</div>
  	</div>