<div class="confirmation">
      <div class="modal-header">
	        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h3 class="modal-title uppercase">Success</h3>
	        <p>You've Successfully Created an Account!</p>
      </div>

      	<div class="modal-body" ng-controller="registerFormController">
			
			<h3 class="uppercase">Login by hitting the button Below!</h3>

			<button type="button" class="create-account" ng-click="categoriesOpen('md'); " >Login</button>
		</div>
	</div>
</div>