<div ng-controller="dayController" class="grey-wide">
    <div class="grey-wide">
    <div class="day-slider-border"></div>
    <div class="day-slider-container">
        <div class="row day-slider">
            <div class="col-sm-12 center">
                <div class="col-sm-1 col-xs-2 left prev" ng-click="prevDay()">

                </div>
                <div class="col-sm-10 col-xs-8">
                    <h3 class="uppercase main-date">{{now}}</h3>
                </div>
                <div class="col-sm-1 col-xs-2 right next" ng-click="nextDay()">

                </div>

            </div>
        </div>
    </div>
    <div class="day-slider-border"></div>
    <!--<div class="grey-wide">-->
        <div class="row view-select">

            <div class="col-sm-12">
                <div class="col-sm-2 margin categoryToggle" ng-click="categoryToggle()">
                    All Categories
                </div>
                <div class="categoriesDropdown" ng-init="getCategories()">
                    <div class="toggle-controls">
                        <div class="right red uppercase bold pointer" ng-click="categoryToggle()">Close</div>
                        <div class="left red uppercase bold pointer" ng-click="clearAll()">Clear All</div>
                    </div>
                    <div ng-repeat="category in categories">
                        <label class="event-category" ng-model="filterData.categories[category.id]" ng-change="filterCategory(filterData.categories[category.id])" btn-checkbox>{{category.name}}</label>
                    </div>
                </div>

                <div class="col-sm-2 margin">
                        <!-- Additional filtration like most recent to go here -->
                </div>
                <div class="col-sm-3 col-sm-offset-5">
                    <a ng-if="currentPath !== '/'" ng-class="{active:active('/')}" class="list-icon" href="#/"></a>
                    <a ng-if="currentPath !== '/calendar'" ng-class="{active:active('/calendar')}" class="cal-icon" href="#/calendar"></a>
                    <a ng-if="currentPath !== '/map'"  ng-class="{active:active('/map')}" class="map-icon" href="#/map"></a>
                    <a ng-if="currentPath !== '/day'" ng-class="{active:active('/day')}" ng-click="toggleActive()" class="day-icon" href="#/day"></a>
                </div>

            </div>

        </div>
        <div class="day-slider-border"></div>

        <div class="row event-slider-day">
            <div class="time-group" ng-repeat="event in dayEvents">
                <div ng-if="event.start_time | dateToISO | date: 'h:mm a' | uniqueHour">
                    <div class="clearfix">

                    </div>
                    <div class="white event-time"> {{ event.start_time | dateToISO | date: 'h:mm a' }}</div>

                </div>
                <div class="col-sm-3 event">

                    <div class="event-inner" ng-animate="'animate'">
                        <div ng-click="eventModal(event, vote.status)">
                            <div class="event-image" style="background-image: url('{{event.event_image_url}}'); background-size: cover; height: 225px;">
                            </div>
                            <div class="event-details">
                                <h4 class="ellipsis">{{event.event_name | limitTo: 30 }}</h4>
                                <p class="blue">{{event.start_time | dateToISO | date: 'mediumDate' }}</p>
                                <a href="{{event.venue_url}}" target="_blank"><p>{{event.venue_name | limitTo: 40}}</p></a>
                            </div>
                        </div>
                        <div class="icons">
                            <div class="btn-group">
                                <label class="like-icon" ng-model="event.vote.upVote" ng-change="simpleVoteEvent(event, 'up')" btn-checkbox></label>

                                <label class="dislike-icon" ng-model="event.vote.downVote" ng-change="simpleVoteEvent(event, 'down')" btn-checkbox></label>
                            </div>
                            {{vote}}
                        </div>
                    </div>
                </div>
                    <div ng-if="event.start_time | dateToISO | date: 'h:mm a' | uniqueHour"></div></div>
            </div>
        </div>
    </div>

