<div class="eventModal">
    <div ng-controller="eventsController">
		<div class="modal-header">
		    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		    </button>
		    	<h3 class="modal-title uppercase">{{data.title}}</h3>
		    	<p>Stuff</p>
		</div>

	      	<div class="modal-body">
				
				<h3 class="uppercase">Modal Details</h3>


				<button type="button" class="create-account" ng-click="" >Buy</button>

			</div>
		</div>
	</div>
</div>