
  <style>
    @import url(//fonts.googleapis.com/css?family=Lato:700);
    html, .bg-image { background:#fff;}
    .form_container {
    width:675px;
    margin:50px auto;
    }
    .form_container label {
    display:block;
    }
    .form_container input.full { width:100%; }
    .form_container input, .form_container select, .form_container textarea {
      border: 1px solid #ccc;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      padding: 4px 7px;
      outline: 0;
      margin:5px 0;
    }
    .form_container input { -webkit-appearance: none;}
    .form_container select { background: #fff;height: 31px;}
    .form_container input:focus {
      border-color: #339933;
    }
    .form_container input[type='submit'] {
    background: #87cefa;
    color:#fff;
    }
    input:checked + .label_container {
       background-color: burlywood;
    }
        .single_event {
            padding: 10px 5px 0;
        }

      .single_event .container, .suggestion-list li .container {
          width: 70%;
          display: inline-block;
      }

      .single_event img, .suggestion-list li img {
          vertical-align: top;
          float: left;
      }

      .single_event span, .single_event small, .suggestion-list li {
          display: block;
      }

    .suggestion-list li .container {
        text-wrap: normal;
    }
  </style>
        <div class="form_container">
        <div ng-if="success">
        <h1>
          Successfully <span ng-if="success.updated">updated</span> <span ng-if="!success.updated">created</span> event <b>{{success.event_name}}</b>
          <br/>
          <br/>
          <a href='/admin/event/add'>Create New Event</a>
          <br/>
          <a href='/admin/event/edit/{{success.id}}' ng-click="reload();">Edit <b>{{success.event_name}}</b> Event</a>
          <br/>
          <a href='/happ/{{success.id}}'>View Content</a>
          <br/>
        </h1>
        </div>
        <form method="post" ng-if="!success">
          <fieldset>
          <div class="green center margin20" ng-if="updated_last">Last updated on {{updated_last}}!</div>
          <div class="red center margin20" ng-if="generalError">* You must fill out the required fields!</div>

          <div class="red center margin20" ng-if="error">{{error}}</div>
            <div>
              <label for="title">Event Name <span class="red center margin20">* <span ng-if="titleError">You must have a event name</span></span></label>
              <input type="hidden" id="event_id" name="event_id" ng-model="formData.event_id"/>
              <input type="text" class="full" id="title" name="title" value="" placeholder="Event Name" ng-model="formData.title" />
            </div>

            <div>
              <label for="event_url">Event URL</label>
              <input type="text" id="event_url" class="full" name="event_url" value="{{eventData.events[0].url}}" placeholder="http://www.event.com" ng-model="formData.event_url" />
            </div>

            <div>
              <label for="event_image_url">Event Image URL</label>
              <input type="text" id="event_image_url" class="full" name="event_image_url" value="" placeholder="http://www.event.com/logo.png" ng-model="formData.event_image_url" />
            </div>

            <div>
              <label for="venue_name">Venue Name <span class="red center margin20">* <span ng-if="venueError">You must have a venue name</span></span></label>
              <input type="text" id="venue_name" class="full" name="venue_name" value="" placeholder="Venue Name" ng-model="formData.venue_name" />
            </div>

            <div>
              <label for="venue_url">Venue URL</label>
              <input type="text" id="venue_url" class="full" name="venue_url" value="" ng-model="formData.venue_url" placeholder="http://www.venue.com" />
            </div>

            <div>
              <label for="street_address" style="display:inline-block;width:331px;">Street Address <span class="red center margin20">* <span ng-if="addressError">You must have a address</span></span></label>
              <label for="building" style="display:inline-block;width:155px;">Building / Suite</label>

              <input type="text" id="street_address" name="street_address" value="" ng-model="formData.street_address" placeholder="Street Address" style="width:315px;margin-right:15px;"/>
              <input type="text" id="building" name="building" value="" ng-model="formData.building" style="width:341px;" />
            </div>

            <div>
              <label for="city" style="display:inline-block;width:244px;">City</label>
              <label for="state" style="display:inline-block;width:261px;">State</label>
              <label for="zip_code" style="display:inline-block;width:162px;">Zip Code</label>

              <input type="text" id="city" name="city" value="" ng-model="formData.city" placeholder="City" style="width:222px;margin-right:20px;"/>
              <select id="state" name="state" placeholder="State" ng-model="formData.state" style="width:245px;margin-right:20px;">
                <option>Georgia</option>
              </select>
              <input type="text" id="zip_code" name="zip_code" value="" ng-model="formData.zip_code" placeholder="Zip Code" style="width:160px;" />
            </div>

            <div>
              <label for="start_time" style="display:inline-block;width:262px;">Start Date/Time <span class="red center margin20"> * </span>
                <div class="red" ng-if="startDateError">You must have a start date</div>
              </label>

              <label for="end_time" style="display:inline-block;width:243px;" ng-if="!formData.all_day">End Date/Time </label>
              <label for="all_day" style="display:inline-block;" ng-if="!formData.all_day">All Day Event</label>
              <label for="all_day" style="display:inline-block;width:245px;" ng-if="formData.all_day">All Day Event</label>


              <input id="start_time" name="start_time" placeholder="MM/DD/YYYY H:M AM/PM" date-time-picker ng-model="formData.start_time" style="width:225px;margin-right:35px;"/>
              <input id="end_time" name="end_time" placeholder="MM/DD/YYYY H:M AM/PM" date-time-picker ng-model="formData.end_time" ng-if="!formData.all_day" style="width:225px;margin-right:25px;"/>
              <input id="all_day" name="all_day" type="checkbox" ng-model="formData.all_day" style="-webkit-appearance: checkbox;"/>
            </div>

            <div>
              <label for="desc">Description <span class="red center margin20">* <span ng-if="descError">You must have a description</span></span></label>
              <textarea name="desc" id="desc" style="width:488px;height:180px;" ng-model="formData.desc"></textarea>
            </div>
            <div>
                <label for="tags">Tags</label>
                <tags-input id="tags" ng-model="formData.tags" display-property="tag_raw" replace-spaces-with-dashes="false">
                    <auto-complete source="loadTags($query)"></auto-complete>
                </tags-input>
            </div>
              <div  ng-if="formData.parent_id > 0 || formData.similar_events_model.length == 0">
                  <dl>
                      <dt>Duplicate of</dt>
                      <dd>If you believe this is a duplicate of another event, add it here. We'll make sure this is labeled as such and removed from results.</dd>
                  </dl>
                  <tags-input id="parent_id" ng-model="formData.parent" key-property="id" display-property="event_name" replace-spaces-with-dashes="false" placeholder="Add an event" max-tags=1 addFromAutocompleteOnly="true">
                      <auto-complete source="loadEvents($query)" template="parentIdTemplate" debounceDelay="1000"></auto-complete>
                  </tags-input>
                  <span></span>
              </div>
              <div class="similar_events">
                  <div ng-if="formData.parent_id > 0">
                      This item has been identified as a duplicate of <a href="/admin/event/edit/{{formData.parent_id}}">Event ID:{{formData.parent_id}}</a>
                  </div>
                  <div ng-if="formData.similar_events_model.length > 0 && formData.parent_id == null || formData.parent_id == 0">
                      <h4>Duplicated Events</h4>
                      <p>There are events that appear to be duplicates of this one. Select those events here to mark them as duplicates and hide them from listings.</p>
                      <div ng-repeat="(key, value) in formData.similar_events_model">
                          <div class="single_event {{isCheched=value.parent_id?'checked-row':''}}">
                              <input type="checkbox" id="event_id_{{value.id}}"
                                     checklist-model="formData.similar_events_storage" checklist-value="value.id"
                                     style="display: none"/>
                              <label for="event_id_{{value.id}}" class="label_container">
                                  <img width="100px" src="{{value.event_image_url}}"/>
                                  <div class="container">
                                      <span>{{value.event_name}}</span>
                                      <small>Event Venue: {{value.venue_name}}</small>
                                      <small>Event Date: {{value.event_date}}</small>
                                      <small ng-if="value.parent_id">Parent ID: {{value.parent_id}}<span ng-if="value.parent_id === formData.event_id"> (This Item)</span></small>
                                  </div>
                              </label>
                          </div>
                      </div>
                  </div>
              </div>
            <input type="submit" value="Submit" ng-click="processForm(formData);" /> <span class="red center margin20" ng-if="generalError">* You must fill out the required fields!</span>

        </fieldset>
        </form>
        </div>

        <script type="text/ng-template" id="parentIdTemplate">
            <div>
                <img width="100px" src="{{data.event_image_url}}"/>
            </div>
            <div class="container">
                <strong>{{data.event_name}}</strong><br />
                {{data.event_date}}<br />
                <small>{{data.venue_name}}</small><br />
            </div>
        </script>
        <script src="/js/jquery.datetimepicker.js"></script>
