<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=895139070496415&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>




<div class="eventModal">
    <div ng-controller="eventsController">
		<div class="modal-header-event">
		    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		    </button>
				
				<div class="modal-image" style="background-image: url('{{data.event_image_url}}'); background-size: cover;">
				    <div class="modal-image-wrapper">
                        <div class="share-overlay">
                            <h4 class="wide-kerning uppercase">Share</h4>
                            <h3 class="dark">{{data.event_name}}</h3>

                            <a class="share-icon fb-share fb-share-button" data-href="cityhapps.dev" ng-click="sharedPush(data.id, 'facebook'); fbShare(currentURL + data.id, data.event_name)">
                            </a>

                            <a class="share-icon twitter-share" ng-click="sharedPush(data.id, 'twitter'); socialShare('https://twitter.com/intent/tweet?text={{data.event_name}}&url={{currentURL + data.id}}', 'Twitter Share', 'width=600, height=400')">
                            </a>

                            <a class="share-icon pinterest-share" ng-click="sharedPush(data.id, 'pinterest'); socialShare('http://www.pinterest.com/pin/create/button/?url={{currentURL + data.id}}&description={{data.event_name}}&media={{data.event_image_url}}','Pinterest Share','width=600, height=400' )">
                            </a>
                        </div>
				    	<h3 class="modal-title-event">{{data.event_name}}</h3>
                            <div class="share right" ng-click="shareReveal()">

                            </div>
                        </div>
				    </div>
				</div>
		</div>

	      	<div class="modal-body">
				<p class="blue">{{data.start_time | dateToISO | date: 'MMM d h:mm a'}}</p>
		    	<a href="{{data.venue_url}}" target="_blank">{{data.venue_name}}</a>
		    	<p>{{data.address}}, {{data.city}}, {{data.state}}</p>

		    	<div class="margin20 left">
                    <div ng-repeat="category in data.categories" class="inline">
                        <div class="event-category inline-block margin-top-5 ">
                            {{category.name}}
                        </div>
					</div>
				</div>

				<div class="modal-description">
					<p ng-if="description" ng-bind-html="description"></p>
                    <!--<p ng-if="data.description">{{data.description}}</p>-->
                    <p ng-if="data.description" ng-bind-html="data.description"></p>
                    <!--| limitTo: 300-->
				</div>

				<div class="modal-footer">

					<div class="icons-modal">

						<div class="btn-group">
					        <label class="like-icon" ng-model="data.vote.upVote" ng-change="simpleVoteEvent(data , 'up')" btn-checkbox></label>

					        <label class="dislike-icon" ng-model="data.vote.downVote" ng-change="simpleVoteEvent(data, 'down')" btn-checkbox></label>
					    </div>
					</div>
						<!-- <a href="http://google.com">Google</a> -->
						<a class="buy right" href="{{data.url}}">Details</a>
				</div>
			</div>
		</div>
	</div>
</div>