<div class="row event-slider" ng-controller="EventsCtrl">
	<div class="col-sm-12">
		<h3 class="uppercase">Events</h3>
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>

				</div>
			</div>

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>


				</div>

			</div>			

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>


				</div>

			</div>

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>
				</div>

			</div>

		</div>	
				
	</div>	
</div>

<div class="row event-slider">
	<div class="col-sm-12">
		<h3 class="uppercase">Activities</h3>
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>

				</div>
			</div>

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>


				</div>

			</div>			

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>


				</div>

			</div>

		</div>	
		<div class="col-sm-3 event">
			<div class="event-inner">
				<img src="http://placehold.it/255x150">
				<div class="event-details">
					<h3>Event Header</h3>
					<p>Jul 11 11:00 am</p>
					<p>Fabulous Fox Thetre</p>
					<p>in Atlanta</p>
				</div>

			</div>

		</div>	
				
	</div>	
</div>