<!-- <script src="/js/slider.js"></script> -->

<div ng-controller="eventsController">
<div class="event-counter" ng-init="getCategories()">
		<h2 class="center white"> {{eventCount}} things to do in Atlanta </h2>

</div>


<p class="uppercase center white wide-kerning">Recommendations</p>

<div class="row event-slider">
	<div>
		<carousel interval="interval" class="col-sm-12">
			<slide class="col-sm-12" ng-repeat="event in slideGroup">
				<div class="col-sm-3 event" ng-click="eventModal(event, 'first')" >
						<div class="event-inner" >
							<div class="event-image" style="background-image: url('{{event.first.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.first.title }}</h4>
								<p>{{event.first.start_time}}</p>
								<p>{{event.first.venue_name | limitTo: 40}}</p>
							</div>
							<div class="icons">
								<div class="like-icon">
								</div>
								<div class="dislike-icon">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'second')"> 
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.second.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.second.title | limitTo: 30}}</h4>
								<p>{{event.second.start_time}}</p>
								<p>{{event.second.venue_name | limitTo: 40}}</p>
							</div>
							<div class="icons">
								<div class="like-icon">
								</div>
								<div class="dislike-icon">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'third')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.third.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.third.title | limitTo: 30}} </h4>
								<p>{{event.third.start_time}}</p>
								<p>{{event.third.venue_name | limitTo: 40}}</p>
							</div>
							<div class="icons">
								<div class="like-icon">
								</div>
								<div class="dislike-icon">
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'fourth')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.fourth.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.fourth.title | limitTo: 30}}</h4>
								<p>{{event.fourth.start_time}}</p>
								<p>{{event.fourth.venue_name | limitTo: 40}}</p>
							</div>
							<div class="icons">
								<div class="like-icon">
								</div>
								<div class="dislike-icon">
								</div>
							</div>
						</div>
					</div>
			</slide>
		</carousel>
	</div>
</div>

<div class="grey-wide">
	<div class="day-slider-container">
		<div class="row day-slider">
			<div class="col-sm-12 center">
				<div class="col-sm-1 left prev" ng-click="prevDay()">
					
				</div>
				<div class="col-sm-10">
					<h3 class="uppercase bold main-date">{{now}}</h3>
				</div>
				<div class="col-sm-1 right next" ng-click="nextDay()">
					
				</div>
				
			</div>
		</div>
	</div>


	<div class="row view-select">
		
		<div class="col-sm-12">
			<div class="col-sm-2">
				All Categories
					
			</div>	
			<div class="col-sm-2">
				Most Recent

			</div>	
			<div class="col-sm-3 col-sm-offset-5">
				<a class="list-icon" href=""></a>
				<a class="map-icon" href="#/map"></a>
				<a class="cal-icon" href="#/calendar"></a>

			</div>

		</div>	

	</div>

	<div class="header-container row">
		<div class="col-sm-12">
			<div class="col-sm-2">
				<h5 class="uppercase white wide-kerning">Events</h5>
			</div>
			<div class="col-sm-10">
			</div>
		</div>
	</div>

	<div class="row event-slider summary">
		<div>
			<carousel interval="interval" class="col-sm-12">
				<slide class="col-sm-12" ng-repeat="event in slideGroup">
					<div class="col-sm-3 event" ng-click="eventModal(event, 'first')"> {{$index}}
						<div class="event-inner" >
							<div class="event-image" style="background-image: url('{{event.first.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.first.title | limitTo: 30}}</h4>
								<p>{{event.first.start_time}}</p>
								<p>{{event.first.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'second')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.second.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.second.title | limitTo: 30}}</h4>
								<p>{{event.second.start_time}}</p>
								<p>{{event.second.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'third')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.third.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.third.title | limitTo: 30}}</h4>
								<p>{{event.third.start_time}}</p>
								<p>{{event.third.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'fourth')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.fourth.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.forth.title | limitTo: 30}}</h4>
								<p>{{event.fourth.start_time}}</p>
								<p>{{event.fourth.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
				</slide>
			</carousel>
		</div>
	</div>
	<div class="row event-slider summary">
		<div>
			<carousel interval="interval" class="col-sm-12">
				<slide class="col-sm-12" ng-repeat="event in slideGroup">
					<div class="col-sm-3 event" ng-click="eventModal(event, 'first')">
						<div class="event-inner" >
							<div class="event-image" style="background-image: url('{{event.first.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.first.title | limitTo: 30}}</h4>
								<p>{{event.first.start_time}}</p>
								<p>{{event.first.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'second')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.second.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.second.title | limitTo: 30}}</h4>
								<p>{{event.second.start_time}}</p>
								<p>{{event.second.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'third')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.third.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.third.title | limitTo: 30}}</h4>
								<p>{{event.third.start_time}}</p>
								<p>{{event.third.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 event" ng-click="eventModal(event, 'fourth')">
						<div class="event-inner">
							<div class="event-image" style="background-image: url('{{event.fourth.image.block250.url}}'); background-size: cover; height: 125px;">
								<!-- <img ng-src=""> -->
							</div>
							<div class="event-details">
								<h4 class="">{{event.fourth.title | limitTo: 30}}</h4>
								<p>{{event.fourth.start_time}}</p>
								<p>{{event.fourth.venue_name | limitTo: 40}}</p>
								<div class="icons">
									<div class="like-icon">
									</div>
									<div class="dislike-icon">
									</div>
								</div>
							</div>
						</div>
					</div>
				</slide>
			</carousel>
		</div>
	</div>

</div>
</div>



</div>