<div ng-controller="eventsController" class="imageContainer">
	<div class="event-counter" ng-init="getCategories()">
		<h2 class="center white totalEvents">
            <div ng-if="mobile()" class="mobile-large-num">{{eventCount}}</div>
            <div ng-if="!mobile()" class="inline" >{{eventCount}}</div>
            things to do in Atlanta
        </h2>
	</div>

	<p class="uppercase center white wide-kerning">Recommendations</p>

			<!-- MOBILE / PHONE slide view -->
		<div ng-if = 'mobile()'>
			<div class="row event-slider" ng-if="user">
				<carousel interval="interval" class="col-sm-12">
					<slide class="col-sm-12" ng-repeat="event in recSlideGroup | limitTo: 10">			
						<div class="col-sm-3 event">
							<div class="event-inner" >
									<div ng-click="eventModalMobile(event)">
										<div class="event-image" style="background-image: 'url('{{event.event_image_url}}')'; background-size: cover; height: 125px;" >
											
										</div>
										<div class="event-details">
											<h4 class="ellipsis">{{event.event_name | limitTo: 25 }}</h4>

                                            <p>{{event.start_time}}
                                                {{event.venue_name | limitTo: 40}}</p>
                                        </div>
									</div>
								<div class="icons">
									<label class="like-icon" ng-model="vote.upVote" ng-change="upVote(event, vote)" btn-checkbox></label>

									<label class="dislike-icon" ng-model="vote.downVote" ng-change="downVote(event, vote)" btn-checkbox></label>
								</div>
							</div>
						</div>
					</slide>
				</carousel>
			</div>
					
			<div class="day-slider-border"></div>
				<div class="day-slider-container-home">
					<div class="row day-slider">
						<div class="col-sm-12 center">
							<div class="col-sm-1 col-xs-2 left prev" ng-click="prevDay()">
								
							</div>
							<div class="col-sm-10 col-xs-8">
								<h3 class="uppercase main-date">{{now}}</h3>
							</div>
							<div class="col-sm-1 col-xs-2 right next" ng-click="nextDay()">
								
							</div>
							
						</div>
					</div>
				</div>
			<div class="day-slider-border"></div>

            <!--<div class="mobile-event-container">-->
                <div class="col-sm-12" ng-repeat="event in slideGroup">
                    <!--<div ng if=""></div>-->
                    <div class="time">{{event.start_time | dateToISO | date: 'h:mm a' | uniqueHour}}</div>
                    <div class="mobile-event" ng-click="eventModalMobile(event)">
                        <div class="mobile-event-image" style="background-image: url('{{event.event_image_url}}'); ">
                        </div>
                        <div class="mobile-event-details">
                            <div class="bold ellipsis">{{event.event_name | limitTo: 30}}</div>
                            <!--{{event.start_time | date: 'h:mm'}}-->
                            {{event.venue_name}}
                            {{event.start_time |  date: 'mediumDate'}}
                        </div>
                        <div class="">
                            <div class="mobile-vote-icons">
                                <label class="like-icon-mobile" ng-model="vote.upVote" ng-click="upVote(event, 'first', vote.upVote)" btn-checkbox></label>

                                <label class="dislike-icon-mobile" ng-model="vote.downVote" ng-click="downVote(event, 'first', vote.upVote)" btn-checkbox></label>
                            </div>
                        </div>

                    </div>
                </div>
            <!--</div>-->



		</div>

    <!-- Desktop Tablet > 768px -->
	<div ng-if="!mobile()">
		<div class="row event-slider" ng-if="user">
			<carousel interval="interval" class="col-sm-12" >
				<slide ng-animate="'animate'" class="col-sm-12" ng-repeat="event in recSlideGroup" ng-init="fadeIn('slow')">
					<!-- hide card with no title ths doesn exist ng-if="event.first.event_name" -->
					<div class="col-sm-3 event" >
						<div class="event-inner" ng-animate="'animate'">
							<div ng-click="eventModal(event, 'first')">
								<div class="event-image" style="background-image: url('{{event.first.event_image_url}}'); background-size: cover; height: 125px;">
								</div>
								<div class="event-details">
									<h4 class="ellipsis">{{event.first.event_name | limitTo: 30 }}</h4>
									<p class="blue">{{event.first.start_time | dateToISO | date: 'mediumDate' }}</p>
									<p>{{event.first.venue_name | limitTo: 40}}</p>
								</div>
							</div>
							<div class="icons">
							    <div class="btn-group">
							        <label class="like-icon" ng-model="event.first.vote.upVote" ng-change="voteEvent(event, 'first', 'up')" btn-checkbox></label>

							        <label class="dislike-icon" ng-model="event.first.vote.downVote" ng-change="voteEvent(event, 'first', 'down')" btn-checkbox></label>
							    </div>
							</div>
						</div>
					</div>
					<!-- ng-if="event.second.event_name" -->
					<div class="col-sm-3 event" >
						<div class="event-inner" ng-animate="'animate'">
							<div ng-click="eventModal(event, 'second')">	
								<div class="event-image" style="background-image: url('{{event.second.event_image_url}}'); background-size: cover; height: 125px;">
								</div>
								<div class="event-details">
									<h4 class="ellipsis">{{event.second.event_name | limitTo: 30}}</h4>
									<p class="blue">{{event.second.start_time | dateToISO | date: 'mediumDate'}}</p>
									<p>{{event.second.venue_name | limitTo: 40}}</p>
								</div>
							</div>
							<div class="icons">
								<div class="btn-group">
							        <label class="like-icon" ng-model="event.second.vote.upVote" ng-change="voteEvent(event, 'second', 'up')" btn-checkbox></label>

							        <label class="dislike-icon" ng-model="event.second.vote.downVote" ng-change="voteEvent(event, 'second', 'down')" btn-checkbox></label>
							    </div>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3 event" >
						<div class="event-inner" ng-animate="'animate'">
							<div ng-click="eventModal(event, 'third')">
								<div class="event-image" style="background-image: url('{{event.third.event_image_url}}'); background-size: cover; height: 125px;">
								</div>
								<div class="event-details">
									<h4 class="ellipsis">{{event.third.event_name | limitTo: 30}} </h4>
									<p class="blue">{{event.third.start_time | dateToISO | date: 'mediumDate'}}</p>
									<p>{{event.third.venue_name | limitTo: 40}}</p>
								</div>
							</div>
							<div class="icons">
								<div class="btn-group">
							        <label class="like-icon" ng-model="event.third.vote.upVote" ng-change="voteEvent(event, 'third', 'up')" btn-checkbox></label>

							        <label class="dislike-icon" ng-model="event.third.vote.downVote" ng-change="voteEvent(event, 'third', 'down')" btn-checkbox></label>
							    </div>
							</div>
						</div>
					</div>

					<div class="col-sm-3 event" >
						<div class="event-inner" ng-animate="'animate'">
							<div ng-click="eventModal(event, 'fourth')">
								<div class="event-image" style="background-image: url('{{event.fourth.event_image_url}}'); background-size: cover; height: 125px;">
								</div>
								<div class="event-details">
									<h4 class="ellipsis">{{event.fourth.event_name | limitTo: 30}}</h4>
									<p class="blue">{{event.fourth.start_time | dateToISO | date: 'mediumDate'}}</p>
									<p>{{event.fourth.venue_name | limitTo: 40}}</p>
								</div>
							</div>
							<div class="icons">
								<div class="btn-group">
							        <label class="like-icon" ng-model="event.fourth.vote.upVote" ng-change="voteEvent(event, 'fourth', 'up')" btn-checkbox></label>

							        <label class="dislike-icon" ng-model="event.fourth.vote.downVote" ng-change="voteEvent(event, 'fourth', 'down')" btn-checkbox></label>
							    </div>
							</div>
						</div>
					</div>
				</slide>
			</carousel>
		</div>
	</div>

	<div ng-if="!mobile()">
	<div class="grey-wide">
		<div class="day-slider-border"></div>
			<div class="day-slider-container-home">
				<div class="row day-slider">
					<div class="col-sm-12 center">
						<div class="col-sm-1 col-xs-3 left prev" ng-click="prevDay()">
							
						</div>
						<div class="col-sm-10 col-xs-6">
							<h3 class="uppercase main-date">{{now}}</h3>
						</div>
						<div class="col-sm-1 col-xs-3 right next" ng-click="nextDay()">
							
						</div>
						
					</div>
				</div>
			</div>
		<div class="day-slider-border"></div>


		<div class="row view-select">
			
			<div class="col-sm-12">
                <div class="col-sm-2 margin categoryToggle" ng-click="categoryToggle()">
                    All Categories
                </div>
                <div class="categoriesDropdown" ng-init="getCategories()">
                    <div class="toggle-controls">
                        <div class="right red uppercase bold pointer" ng-click="categoryToggle()">Close</div>
                        <div class="left red uppercase bold pointer" ng-click="clearAll()">Clear All</div>
                    </div>
                    <div ng-repeat="category in categories">
                        <label class="event-category" ng-model="filterData.categories[category.id]" ng-change="filterCategory(filterData.categories[category.id])" btn-checkbox>{{category.name}}</label>
                    </div>
                </div>

                <div class="col-sm-2 margin">
                    Most Recent
                </div>
				<div class="col-sm-3 col-sm-offset-5">
					<a class="list-icon" href=""></a>
					<a class="map-icon" href="#/map"></a>
					<a class="cal-icon" href="#/calendar"></a>

				</div>

			</div>	

		</div>

		<div class="header-container row">
			<div class="col-sm-12">
				<div class="col-sm-2">
					<h5 class="uppercase white wide-kerning">Events</h5>
				</div>
				<div class="col-sm-10">
				</div>
			</div>
		</div>


		<div class="row event-slider summary">
			<div>
				<carousel interval="interval" class="col-sm-12">
					<slide class="col-sm-12" ng-repeat="event in slideGroup">

						<div class="col-sm-3 event" >
							<div class="event-inner" ng-animate="'animate'">
								<div ng-click="eventModal(event, 'first')">
									<div class="event-image" style="background-image: url('{{event.first.event_image_url}}'); background-size: cover; height: 125px;">
										<!-- <img ng-src=""> -->
									</div>
									<div class="event-details">
										<h4 class="">{{event.first.event_name }}</h4>
										<p class="blue">{{event.first.start_time | dateToISO | date: 'mediumDate'}}</p>
										<p>{{event.first.venue_name | limitTo: 40}}</p>
									</div>
								</div>
								<div class="icons">
									<div class="btn-group">
								        <label class="like-icon" ng-model="event.first.vote.upVote" ng-change="voteEvent(event, 'first', 'up')" btn-checkbox></label>

								        <label class="dislike-icon" ng-model="event.first.vote.downVote" ng-change="voteEvent(event, 'first', 'down')" btn-checkbox></label>
								    </div>
								</div>
							</div>
						</div>

						<div class="col-sm-3 event" >
							<div class="event-inner" ng-animate="'animate'">
								<div ng-click="eventModal(event, 'second')">
									<div class="event-image" style="background-image: url('{{event.second.event_image_url}}'); background-size: cover; height: 125px;">
										<!-- <img ng-src=""> -->
									</div>
									<div class="event-details">
										<h4 class="">{{event.second.event_name | limitTo: 30}}</h4>
										<p class="blue">{{event.second.start_time | dateToISO | date: 'mediumDate'}}</p>
										<p>{{event.second.venue_name | limitTo: 40}}</p>
									</div>
								</div>
								<div class="icons">
									<div class="btn-group">
								        <label class="like-icon" ng-model="event.second.vote.upVote" ng-change="voteEvent(event, 'second', 'up')" btn-checkbox></label>

								        <label class="dislike-icon" ng-model="event.second.vote.downVote" ng-change="voteEvent(event, 'second', 'down')" btn-checkbox></label>
								    </div>
								</div>
							</div>
						</div>

						<div class="col-sm-3 event" >
							<div class="event-inner" ng-animate="'animate'">
								<div ng-click="eventModal(event, 'third')">
									<div class="event-image" style="background-image: url('{{event.third.event_image_url}}'); background-size: cover; height: 125px;">
									<!-- <img ng-src=""> -->
									</div>
									<div class="event-details">
										<h4 class="">{{event.third.event_name | limitTo: 30}} </h4>
										<p class="blue">{{event.third.start_time | dateToISO | date: 'mediumDate'}}</p>
										<p>{{event.third.venue_name | limitTo: 40}}</p>
									</div>
								</div>
								<div class="icons">
									<div class="btn-group">
								        <label class="like-icon" ng-model="event.third.vote.upVote" ng-change="voteEvent(event, 'third', 'up')" btn-checkbox></label>

								        <label class="dislike-icon" ng-model="event.third.vote.downVote" ng-change="voteEvent(event, 'third', 'down')" btn-checkbox></label>
								    </div>
								</div>
							</div>
						</div>

						<div class="col-sm-3 event" >
							<div class="event-inner" ng-animate="'animate'">
								<div ng-click="eventModal(event, 'fourth')">
									<div class="event-image" style="background-image: url('{{event.fourth.event_image_url}}'); background-size: cover; height: 125px;">
									<!-- <img ng-src=""> -->
									</div>
									<div class="event-details">
										<h4 class="">{{event.fourth.event_name | limitTo: 30}}</h4>
										<p class="blue">{{event.fourth.start_time | dateToISO | date: 'mediumDate'}}</p>
										<p>{{event.fourth.venue_name | limitTo: 40}}</p>
									</div>
								</div>
								<div class="icons">
									<div class="btn-group">
								        <label class="like-icon" ng-model="event.fourth.vote.upVote" ng-change="voteEvent(event, 'fourth', 'up')" btn-checkbox></label>

								        <label class="dislike-icon" ng-model="event.fourth.vote.downVote" ng-change="voteEvent(event, 'fourth', 'down')" btn-checkbox></label>
								    </div>
								</div>
							</div>
						</div>
					</slide>
				</carousel>
			</div>
		</div>
		</div>
	</div>
</div>