  <div ng-controller="registerFormController">
      <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <div class="login">
          <div class="modal-header">
              <h2 class="modal-title uppercase center margin">Sign In</h2>
          </div>
          <div class="modal-body-sign-in">
              <div class="facebookButton" ng-click="login(); cancel()">
                  <div class="lucida">Sign in with Facebook</div>
              </div>
              <h4 class="center margin20">or</h4>
              <div class="red center margin20" ng-if="loginError">{{loginError}}</div>
              <form class="loginForm">
                  <input type="email" placeholder="Email" class="registerEmail block" ng-model="formData.email">
                  <input type="password" placeholder="Password" class="registerPassword block" ng-model="formData.password">
                  <!-- <input type="password" placeholder="password" class="registerPassword left" ng-model="formData.password2"> -->
                  <div class="margin20 center">
                      <a class="red italic forgot" href="#">Forgot Password?</a>
                  </div>

                  <div>
                      <button type="submit" class="create-account center" ng-click="loginUser(formData)">Sign In</button>
                  </div>

                  <div class="margin20 center">
                      <p class="red pointer" ng-click="registerOpen('md'); cancel()">Create a new acccount</p>
                  </div>
                  <!-- {{formData}} -->
              </form>
          </div>
      </div>
  </div>



