
<div ng-controller="mapController">
	<div class="grey-wide-map" ng-init="scrollTop()">
		<div class="day-slider-border"></div>
			<div class="day-slider-container map">
				<div class="row day-slider">
					<div class="col-sm-12 center">
						<div class="col-sm-1 col-xs-3 left prev" ng-click="prevDay()">
							
						</div>
						<div class="col-sm-10 col-xs-6">
							<h3 class="uppercase main-date">{{now}}</h3>
						</div>
						<div class="col-sm-1 col-xs-3 right next" ng-click="nextDay()">
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="day-slider-border"></div>


	<div class="map-controls">
	<div class="row view-select map">

		<div class="col-sm-12 view-row map-margin">
		<div class="col-sm-6">	

<!-- 			<tabset>	
				<tab > -->
			<div class="margin" ng-click="categoryToggle()">
                <div class="categoryToggle">All Categories</div>
            </div>
				
				<div class="map-overlay">	
					<div class="map-event pointer" ng-repeat="event in tabEvents | limitTo: 10" ng-animate="{enter: 'animate-enter' }">
						<div ng-click="mapEventModal(event)">
							<div class="inline">
								<div class="event-number left" ng-if="pageCount > 1">
                                    {{($index + 1) + (10 * (pageCount - 1)) }}</div>

								<div class="event-number left" ng-if="pageCount <= 1"> {{ $index + 1}} </div>

							</div>
							<div class="tab-event-title">
								<h4>{{event.event_name | ellipsis: 20}}</h4>
								<p class="blue">{{event.start_time | dateToISO | date: 'MMM d h:mm a' }}</p>
							</div>							
						</div>
					</div>
					<div class="map-ctrls" ng-show="tabEvents">
						<div class="left map-ctrl prev-ctrl" ng-click="getPrevEvents()" ng-if="pageCount > 1">
							Previous
						</div>
						<div class="right map-ctrl next-ctrl" ng-click="getNextEvents()">
							Next
						</div>
					</div>
				</div>


<!-- 				</tab>
			</tabset> -->
			
		</div>
            
            <div class="categoriesDropdown" ng-init="getCategories()">
                <div class="toggle-controls">
                    <div class="right red uppercase bold pointer" ng-click="categoryToggle()">Close</div>
                    <div class="left red uppercase bold pointer" ng-click="clearAll()">Clear All</div>
                </div>

                <div ng-repeat="category in categories">
                    <label class="event-category" ng-model="filterData.categories[category.id]" ng-change="filterCategory(filterData.categories[category.id])" btn-checkbox>{{category.name}}</label>
                </div>
            </div>


            <div class="col-sm-2 margin">
                <!-- Additional filtration like most recent to go here -->
			</div>	
			<div class="col-sm-4">
                    <a ng-if="currentPath !== '/'" ng-class="{active:active('/')}" class="list-icon" href="#/"></a>
                    <a ng-if="currentPath !== '/day'" ng-class="{active:active('/day')}" ng-click="toggleActive()" class="day-icon" href="#/day"></a>	
                    <a ng-if="currentPath !== '/map'"  ng-class="{active:active('/map')}" class="map-icon" href="#/map"></a>
                    <a ng-if="currentPath !== '/calendar'" ng-class="{active:active('/calendar')}" class="cal-icon" href="#/calendar"></a>
			</div>	
		</div>
	</div>	

	<div class="row">
		<!-- Lat / Long display -->
		<!-- <div style="color:#fff;">{{map.center}}</div> -->
		<div id="map_canvas">
			<ui-gmap-google-map id="map" center="map.center" zoom="map.zoom" options= "{scrollwheel : false}" draggable="true" bounds="map.bounds" events="map.events">
					<ui-gmap-marker ng-repeat="event in tabEvents | limitTo: 10" ng-init="map.init()" options="{labelContent: ($index + 1) + (10 * (pageCount - 1)), labelAnchor: '8 35', labelClass: 'markerLabel' }" doCluster="'true'" ng-init="alert()" idKey="$index" click="mapMarkerModal(event)" icon="'/img/marker.png'" coords="{'latitude' : event.latitude, 'longitude' : event.longitude}">
					<!-- icon="markers.icon" -->
		        	</ui-gmap-marker> 
			 </ui-gmap-google-map> 


				<!-- To use clustering for overlapping map markers, they need to be displayed this way using 'ui-gmap-markers' -->

<!-- 			<ui-gmap-google-map id="map" center="map.center" zoom="map.zoom" options= "{scrollwheel : false}" draggable="true" bounds="map.bounds" events="map.events">
					<ui-gmap-markers models="markers" ng-init="map.init()" options="{labelContent: ($index + 1) + (10 * (pageCount - 1)), labelAnchor: '8 35', labelClass: 'markerLabel' }" doCluster="'true'" ng-init="alert()" idKey="$index" click="mapMarkerModal(event)" icon="'/img/marker.png'" coords="{'latitude' : event.latitude, 'longitude' : event.longitude}">
					<!-- icon="markers.icon" -->
		        	<!--  </ui-gmap-markers> -->
			<!-- </ui-gmap-google-map> -->

		</div>
	</div>
	</div>
    </div>
    <a href="mailto:info@cityhapps.com"><h3 class="center white italic margin20">contact</h3></a>
</div>