<div ng-controller="mapController">
<div class="row view-select">
	<div class="col-sm-12 view-row">
	<div class="col-sm-4">	

		<tabset>	
			<tab ng-repeat="tab in tabs" heading='{{tab.title}}'>
				<div class="map-event" ng-repeat="event in tabEvents">
					<div class="event-number left">{{$index + 1}}</div>	
					<h4>{{event.title | limitTo:40}}</h4>
					<p>{{event.start_time}}</p>
				</div>
			</tab>
		</tabset>
		
	</div>
		<div class="col-sm-2">
			All Categories
				
		</div>	
		<div class="col-sm-2">
			Most Recent

		</div>	
		<div class="col-sm-3 col-sm-offset-1">
			<a class="list-icon" href=""></a>
			<a class="map-icon" href="#/map"></a>
			<a class="cal-icon" href="#/calendar"></a>

		</div>	
	</div>
</div>	

<div class="row">
	<div id="map_canvas">
		<ui-gmap-google-map center="map.center" zoom="map.zoom">
			<ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
        	</ui-gmap-markers>

		</ui-gmap-google-map>
	</div>
</div>
</div>