    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

	<div class="register">
      <div class="modal-header">
	        <h2 class="modal-title uppercase center">New Account</h2>
	        <p class="center">Step 1 of 2</p>
      </div>
		    
      	<div class="modal-body" ng-controller="registerFormController">

      		<div class="facebookButton" ng-click="login()">
				<div class="lucida">Sign in with Facebook</div>
	        </div>
				<h4 class="center margin">or</h4>
	        	<form name="register">
	        		<div ng-show="register.$invalid && register.$dirty" class="center italic red">Fields in red contain errors</div>
			        
			        <div class="registerForm" ng-controller="modalController">
						<input type="email" placeholder="Email Address" ng-remote-validate="/user/check" ng-remote-method="POST" required name="email" class="registerEmail block" ng-model="formData.email">

						    <span ng-if="register.email.$error.ngRemoteValidate" >
						        This email already exists, choose another please.
						    </span>
							<span ng-if="register.password.$error.minlength" >
						        Please use a minumum of 8 characters.
						    </span>

						<input type="password" placeholder="Password" name="password" ng-minlength='8' required class="registerPassword block" ng-model="formData.password">
						
						<input type="password" placeholder="Re-enter Password" name="password2" required ui-validate=" '$value==formData.password' " ui-validate-watch=" 'formData.password' "class="registerPassword2 block" ng-model="formData.password2">

						<span ng-show="registerForm.password2.$error.validator" class="block">Passwords do not match!</span>
			        
			        	<!-- ng-disabled="registerForm.$invalid" -->
			        	<!-- ng-click="categoriesOpen('md'); cancel(); -->
			        	<!-- ng-disabled="register.$invalid" -->
				        <button type="button" class="create-account center" ng-click="categoriesOpen('md'); cancel(); getCategories()" >Next</button>
				        <h5 class="center red margin">Already have an account?</h5>
			      </div>  
			   </form>
		      <!-- {{formData}} -->
  		</div>

  	</div>


