
	<div class="register">
      <div class="modal-header">
	        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h3 class="modal-title uppercase">New Account</h3>
	        <p>Lorem ipsum dolor sit amet, cu nec debet urbanitas, putent electram temporibus eos in</p>
      </div>
		    
      	<div class="modal-body" ng-controller="registerFormController">

      		<div class="facebookButton" ng-click="login()">
				<div class="lucida">Sign in with Facebook</div>
	        </div>
<!-- 	        <button ng-click="logout()">Logout</button>
	        <button ng-click="me()">Get User Info</button> -->
	        	
	        	<form name="register">
			        <div class="registerForm" ng-controller="modalController">
						<input type="email" placeholder="Email" ng-remote-validate="/user/check" ng-remote-method="POST" required name="email" class="registerEmail block" ng-model="formData.email">

						    <span ng-if="register.email.$error.ngRemoteValidate" >
						        This email already exists, choose another please.
						    </span>

						<input type="password" placeholder="password" required class="registerPassword block" ng-model="formData.password">
						
						<input type="password" placeholder="password" name="password2" required ui-validate=" '$value==formData.password' " ui-validate-watch=" 'formData.password' "class="registerPassword2 block" ng-model="formData.password2">

						<span ng-show="registerForm.password2.$error.validator" class="block">Passwords do not match!</span>
			        
			        	<!-- ng-disabled="registerForm.$invalid" -->
			        	<!-- ng-click="categoriesOpen('md'); cancel(); -->
				        <button type="button" class="create-account" ng-disabled="register.$invalid" ng-click="categoriesOpen('md'); cancel(); getCategories()" >Next</button>
			      </div>  
			   </form>
		      {{formData}}
  		</div>

  	</div>


