<div ng-controller="registerFormController">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <div class="login">
        <div class="modal-header">
            <h2 class="modal-title uppercase center margin">Reset Password</h2>
        </div>
        <div class="modal-body-sign-in">

            <div class="red center margin20" ng-if="loginError">{{resetError}}</div>
            <form name="resetPassForm" class="resetPasswordForm" ng-controller="modalController" method="POST">
                <!--<input type="hidden" name="token" value="{{ $token }}">-->
                <input type="email" placeholder="Email Address" autocomplete="off" ng-remote-validate="/user/exist"
                       ng-remote-method="POST" required name="email" class="registerEmail block"
                       ng-model="formData.email" ng-model-onblur>
                  <span ng-if="resetPassForm.email.$error.ngRemoteValidate">
				    This email doesn't exists, enter existing email please.
				  </span>

                <div>
                    <button type="submit" class="create-account center" ng-click="resetPassword(formData)">Reset Password</button>
                </div>
                <div class="margin20 center">
                    <p class="red pointer" ng-click="registerOpen('md'); cancel()">Create a new acccount</p>
                </div>
                <!-- {{formData}} -->
            </form>
        </div>
    </div>
</div>



