//Color Pallete and variables

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

//Temp UX colors, grey

$dark-grey: #2C2625;
$grey: #404042;
$light-grey: #D1D2D4;
$tan: #F7EEEF;

//End Vars

html {
	background: #F7EEEF;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAE6DE;
}	

.totalEvents {
  font-weight: 200;
  font-size: 3em;
}

//Main Search Placehodler Text
// Annoying, but need be done as separate rules for -moz and -webkit

.main-search::-moz-placeholder {
	color: #fff;
	font-size: 1.2em;
	font-style: italic;
	letter-spacing: .1em;
	text-align: left;
	font-weight: 300;
}

.search-large::-webkit-input-placeholder {
	color: #5C5C5C;
	font-size: 1.2em;
	font-style: italic;
	letter-spacing: .1em;
	text-align: left;
	font-weight: 300;
}


.main-search::-webkit-input-placeholder {
	color: #fff;
	font-size: 1.2em;
	font-style: italic;
	letter-spacing: .1em;
	text-align: center;
	font-weight: 300;
}

.main-search::-moz-placeholder {
	color: #fff !important;
	font-size: 1.2em;
	font-style: italic;
	letter-spacing: .1em;
	text-align: center;
	font-weight: 300;
}

.main-search {
	color: #fff;
}

.carousel-control.right {
	background-image: none;
	margin-right: -5px;
}

.carousel-control.left {
	background-image: none;
	margin-left: -5px;
}

.glyphicon.glyphicon-chevron-right{
	height: 50px;
	width: 100%;
	right: 0;
	&:before {
		content: url('../img/sliderRight.png');
		cursor: pointer;
	}
}

.glyphicon.glyphicon-chevron-left{
	height: 50px;
	width: 100%;
	left: 0;
	&:before {
		content: url('../img/sliderLeft.png');
		cursor: pointer;
	}
}

.carousel-indicators {
	display: none;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #EAE6DE;
}

.sidebar {
  display: none;
  background-color: #555555;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.snap-sidebar {
  background-color: #555555;
}

.page-wrapper{ width: 100%; height: 100%; }

.menu-button {
  position: absolute;
  left: 18px;
  top: 20px;
  font-size: 25px;
}

.header-search {
	padding: 20px;
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
	input {
		width: 100%;
		height: 20px;
		padding: 5px 5px 5px 70px;
		border: 1px solid #D3D3D3;
	}
}

input.main-search {
  padding: 5px 5px 5px 30px;
}

.nonUniqueHour {
  height: 20px;
}

.search-details {
  padding: 10px;
}

.wide-search {
	height: 0px;
	display: none;
	height: 112px;
}

.search-clear {
  width: 30px;
  height: 30px;
  background: url("../img/modalClose.png") 0 0/30px 30px no-repeat;
  position: absolute;
  cursor: pointer;
  right: 15%;
  top: 40px;
}

.search-large {
  height: 109px;
  font-size: 2.2em;
  color: #5C5C5C;
  border: 4px solid #FF5C50;
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 16%;
  background: url("../img/searchIcon.png") 13% 50%/30px 34px no-repeat;
  font-style: italic;
	&:focus {
		outline: none;
	}
}

.user-info {
  text-align: right;
  width: 210px;
}

.header-search .auth {
	cursor: pointer;
}

.happ-single {
  background: #FFFFFF;
  box-shadow: 1px 3px 11px #888888;
  padding: 1%;
  overflow: hidden;
  margin-bottom: 20px;
  .happ-image {
    height: 225px;
    position: relative;
    .happ-categories {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bold;
      width: auto;
      color: #FFFFFF;
      background-color: #F5A60D;
      padding: 7px 30px;
      min-width: 100px;
      position: absolute;
      top: 18px;
      left: -15px;
      .happ-category, .happ-category:hover {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    .happ-date {
      padding: 11px;
      border-top: 2.5px solid #D9433F ;
      position: absolute;
      bottom: 0px;
      left: 15px;
      width: 100%;
    }
  }
  .happ-data {
    min-height: 225px;
    padding-bottom: 30px;
    .happ-fulldate, .happ-time, .happ-venue {
      font-size: 15px;
      color: #5F5F5F;
      margin-bottom: 16px;
      a {
        text-decoration: none;
        color: #5F5F5F;
      }
    }
    .happ-name {
      font-size: 18px;
      line-height: 22px;
      color: #3D3D3D;
      margin: 15px 0 30px;
    }
    .happ-icons{
      color: $grey;
      font-size: 12px;
      a{
        color: $grey;
      }
    }
    .happ-data-footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding-left: 15px;
      padding-right: 30px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      .happ-getTickets {
        width: 50%;
        min-width: 160px;
      }
      .happ-social {
        position: absolute;
        right: 15px;
        bottom: 0px;
      }
      i.fa.fa-facebook-square {
        color: #3B5998;
        font-size: 2.5em;
      }
      i.fa.fa-twitter-square {
        color: #1DCAFF;
        font-size: 2.5em;
      }
    }
  }
  .happ-values {
    color: #777;
    float: right;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    margin: 15px 0 5px 5px;
    .happ-rating{
      display:block;
      margin-bottom: 20px;
    }
  }
  .happ-tags {
    color: #FC5C50;
    padding: 3% 2% 0;
    .happ-tag {
      font-weight: 500;
      padding-left: 12px;
    }
  }
  .happ-description {
    margin: 0 auto;
    padding: 3% 2%;
    line-height: 1.5em;
  }
  .happ-map {
    img {
      width: 100%;
    }
    .fa.fa-arrow-right {
      display: block;
      margin-bottom: -20px;
      margin-top: 8px;
      font-size: 22px;
    }
  }
}

.happ-listing {
  .happ-listing-container {
    padding-bottom: 14px;
  }
  .happ-single {
    margin-top: 16px;
    padding: 10px 10px 0px 10px;
    .happ-image {
      height: 123px;
      margin-bottom: 17px;
      .happ-image-background {
        width: 100%;
        height: 100%;
        position: relative;
        left: -15px;
        padding: 0 15px;
        box-sizing: content-box;
      }
      .happ-categories {
        font-size: 10px;
        line-height: 13px;
        padding: 2px 18px;
        top: 10px;
      }
      .happ-date {
        font-size: 9px;
        height: 22px;
        line-height: 22px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-width: 1px;
        text-transform: uppercase;
      }
    }
    .happ-data {
      min-height: 0px;
      padding-bottom: 50px;
      .happ-name {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        margin-top: 0;
        margin-bottom: 12px;
      }
      .happ-icons {
        font-size: 9.5px;
        .happ-icon {
          .fa {
            font-size: 10px;
          }
          a {
            color: inherit;
          }
          &.happ-icon-date {
            display: none;
          }
        }
      }
    }
    .happ-buttons {
      line-height: 34px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 100%;
      padding: 0 15px;
      .happ-button {
        font-size: 10px;
        border: none;
        border-top: 1px solid #FC5C50;
        height: auto;
        padding: 0;
        text-shadow: none;
        font-weight: bold;
        float: left;
      }
      .happ-button-directions {
        background-color: #FFFFFF;
        color: #FC5C50;
      }
      .happ-button-more {
        background-color: #FC5C50;
        color: #FFFFFF;
      }
    }
  }
}

.modal-dialog {
	max-width: 500px;
	overflow-wrap:break-word;
}

.close {
    float: right;
    font-weight: 100;
    line-height: 1;
    color: #0C0C0C;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .5;
    z-index: 10;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}


.modal-backdrop {
	background-color: #1E405D;
	&.in {
		opacity: .7;
	}
}

.modal-body {
    padding: 15px 30px 0 30px;
    background: #F7EEEF;
	p {
		margin: 0;
	}
}

.modal-body-sign-in {
  padding: 0 30px 0 30px;
}

.eventModal {
  border-radius: 0;
  .event-category {
    cursor: default;
  }
}

.modal-description {
	padding-bottom: 20px;
	border-bottom: 1px solid #B1ADB1;
    line-height: 1.7em;
    img {
      width: 100%;
    }
}

.categoriesDropdown, .categoriesDropdownMap,
.categoriesDropdownUser {
    display: none;
    width: 500px;
    position: absolute;
    background: #454546;
    z-index: 3;
    padding: 20px;
    border: 4px solid #FF5C50;
    top: 45px;
    .event-category {
      @extend .event-category;
      &.active {
        background: none;
      }
    }
  &:after, &:before {
    bottom: 100%;
    left: 25%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(69, 69, 70, 0);
    border-bottom-color: #454546;
    border-width: 10px;
    margin-left: 0;
  }
  &:before {
    border-color: rgba(255, 92, 80, 0);
    border-bottom-color: #FF5C50;
    border-width: 16px;
    margin-left: -6px;
  }
}

.categoriesDropdownMap {
  &:after, &:before {
    left: 95%;
  }
}

.toggle-controls {
  float: left;
  height: 30px;
  width:100%;
}


.modal-categories {
	margin: 20px 0;
}

.category-box {
	padding: 5px;
	border: 1px solid #B1ADB1;
	display: inline-block;
	margin-right: 10px;
}

.modal-image-wrapper {
	background: rgba(3,3,3,0);
	background: -moz-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(0,0,0,0.59) 98%, rgba(0,0,0,0.6) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,3,3,0)), color-stop(98%, rgba(0,0,0,0.59)), color-stop(100%, rgba(0,0,0,0.6)));
	background: -webkit-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(0,0,0,0.59) 98%, rgba(0,0,0,0.6) 100%);
	background: -o-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(0,0,0,0.59) 98%, rgba(0,0,0,0.6) 100%);
	background: -ms-linear-gradient(top, rgba(3,3,3,0) 0%, rgba(0,0,0,0.59) 98%, rgba(0,0,0,0.6) 100%);
	background: linear-gradient(to bottom, rgba(3,3,3,0) 0%, rgba(0,0,0,0.59) 98%, rgba(0,0,0,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#000000', GradientType=0 );

	height: 498px;
}

.modal-image {
	height: 498px;
	width: 100%;
	position: relative;
}

.modal-details {
  font-size: 16px;
}

.modal-title-event {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #fff;
  font-weight: 600;
  width: 80%;
}

.modal-footer {
  padding: 20px 0;
}

.share {
  width: 21px;
  height: 29px;
  background: url('../img/shareIcon.png') 0 0/21px 29px no-repeat;
  right: 15px;
  position: absolute;
  bottom: 15px;
  cursor: pointer;
  z-index: 5;
}

.share-overlay {
    width: 100%;
    background: #fff;
    height: 80%;
    display: none;
    padding: 5%;
}

.share-icon, .twitter-share-button {
  height: 76px;
  width: 76px;
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  &.fb-share {
    background: url('../img/shareIcons.png') no-repeat 0 0/259px 76px;
  }
  &.twitter-share, .twitter-share-button {
    background: url('../img/shareIcons.png') no-repeat -91px 0/259px 76px;
  }
  &.pinterest-share {
    background: url('../img/shareIcons.png') no-repeat -183px 0/259px 76px;
  }
  span {
    display: none;
  }

}


//Twitter Button Styles
@media (min-width: 0) {
  a#b.btn {
    box-sizing: border-box;
    height: 70px;
    max-width: 100%;
    background: url("../img/shareIcons.png") no-repeat -91px 0/259px 76px;
    border: none;
    width: 70px;
  }

}

.btn .label {
  display: none;
}

.modal-header-event {
	padding: 0;
}

.event-category {
  padding: 7px 13px;
  border: 2px solid #BEBABB;
  color: #BEBABB;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  display: inline;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  font-weight: bold;
	&.active {
		color: #FF5C50;
		border: 2px solid #FF5C50;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
	}
    &.large {
      font-size: 20px;
      color: #fff;
      border: 2px #fff solid;
      display: inline-block;
      float: none;
      margin: 7px;
      padding: 8px 15px;
      &.active {
        border: 2px #FF5C50 solid;
        color: #FF5C50;
      }
    }
}

.categoryToggle {
  cursor: pointer;
  &:before {
      content: url("../img/categoryArrow.png");
      position: absolute;
      width: 15px;
      height: 15px;
      left: 130px;
  }
}

.category-item {
	display: inline-block;
	margin: 0 2px;
}

.categories {
	background: $tan;
	padding: 0 50px;
}

.categories-modal {
  padding:0;
  background: $tan;
}

.login {
  .modal-header {
    border-bottom: none;
  }
}

.forgot {
  font-size: 1.2em;
}

.finalStep {
  padding-bottom: 20px;
}

.user-pages{
  .bg-image {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #EAE6DE;
    background-image: url('/assets/img/user-background.png');
    background-size: cover;
    z-index: 0;
  }
  .main-column {
    background-color: #FFFFFF;
    z-index: 10;
    width: 380px;
    padding: 40px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.fix-vertical {
      position: relative;
      transform: none;
      margin: 0 auto;
      top: 0px;
      left: 0px;
    }
  }
  .user-logo {
    margin: 0px auto 60px;
    width: 176px;
    display: block;
  }
  .form-group {
    margin-bottom: 0px;
  }
  .register-error {
    color: red;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
  }
  input {
    margin: 3px 0;
    width: 100%;
    font-size: 10px;
    line-height: 20px;
    padding: 10px 15px;
    background-color: #F4F2EE;
    border: none;
    color: #A09C95;
  }
  
  &.user-page-register {
  }

  &.user-page-register-category {
    .main-column {
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      .instructions {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
  .facebook-login {
    background-color: #336EB7;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    line-height: 40px;
    cursor: pointer;
    .fa {
      font-size: 18px;
      line-height: 40px;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .sign-up-button {
    width: 100%;
    padding: 10px 27px;
    margin: 47px auto 20px;
    background-color: #FF5C50;
    display: block;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    border: none;
    &[disabled] {
      background-color: #AAAAAA;
    }
  }
  .login-link {
    text-align: center;
    font-size: 10px;
    a, a:hover {
      color: #5B5B5B;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.big-or {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-transform: uppercase;
  color: #FF5C50;
  font-size: 9px;
  margin: 18px auto;
  & > span {
    position: relative;
    display: inline-block;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 9999px;
      height: 1px;
      background-color: #FF5C50;
    }
    &:before {
      right: 100%;
      margin-right: 15px;
    }
    &:after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.user-page-profile {
  background-color: #FFFFFF;
  .profile-header {
    background-color: #FF5C50;
  }
}

.event-slider {
	max-width: 1170px;
	margin: 0 auto;
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-moz-transition: all linear 0.5s;
  min-height: 325px;
}

.event .event-details a {
  color: $grey;
}

.event-slider-day {
  max-width: 970px;
  margin: 0 auto;
  padding-bottom: 20%;
}

.event-time {
  padding: 10px;
}

.carousel-inner {
	max-width: 90%;
	margin: 0 auto;
    height: inherit;
}

.day-slider {
	max-width: 1170px;
	margin: 0 auto;
	height: auto;
	padding: 10px 0;
	color: #fff;
	// background: rgba(30, 30, 30, 0.3);
}

h3 {
  &.main-date {
    margin-top: 10px;
    font-size: 2em;
  }
}


.left {
  &.prev {
    height: 50px;
    cursor: pointer;
    background: url("../img/sliderLeft.png") no-repeat 14px 5px / 71px 40px;
  }
}


.right {
  &.next {
    height: 50px;
    cursor: pointer;
    background: url("../img/sliderRight.png") no-repeat 7px 5px / 71px 40px;
  }
}


.day-slider-container {
	max-width: 100%;
  &.map {
    background: rgba(0,0,0,.4);
  }
}
.day-slider-container-home {
  max-width: 100%;
}

.month-slider-container {
  max-width: 100%;
  background: rgba(0,0,0,.4);
}


.day-slider-border {
	border-top: 1px solid #fff;
	transform: scaleY(.5);
}


.blue-overlay {
	background: rgba(16, 41, 70, 0.56);
}


.map {
	margin-bottom: 0;
}


.map-controls {
	background: rgba(30, 30, 30, 0.6);
}

.markerLabel {
	color: #fff;
	text-shadow: 2px 1px 1px #E24B44;
	font-size: 1.4em;	
	font-weight: bold;
}


.ng-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.ng-leave {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 1;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

//view icons 
.view-row {
  padding-left: 38px;
  padding-right: 0;
}

.icon {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	margin: 0 17px;
  &:last-child {
    margin-right: 0;
  }
}
 
.list-icon {
	@extend .icon;
	background: url('../img/viewSelectSprite.png') no-repeat 0 3px;
    &.active {
      background: url('../img/viewSelectSprite.png') no-repeat 0 -36px;
    }
}

.map-icon {
	@extend .icon;
	background: url('../img/viewSelectSprite.png') no-repeat  -107px 3px;
    &.active {
      background: url('../img/viewSelectSprite.png') no-repeat  -107px -36px;
    }
}

.day-icon {
	@extend .icon;
	background: url('../img/viewSelectSprite.png') no-repeat -50px 3px;
    &.active {
      background: url('../img/viewSelectSprite.png') no-repeat -50px -36px;
    }
}

.cal-icon {
    @extend .icon;
    background: url('../img/viewSelectSprite.png') no-repeat -154px 3px;
    &.active {
      background: url('../img/viewSelectSprite.png') no-repeat -154px -36px;
    }
}

.icons {
	height: 41px;
	margin: 0 auto;
	position: absolute;
	bottom: 30px;
	left: 30%;
}

.icons-modal {
	height: 41px;
	margin: 0 auto;
	bottom: 30px;
	float: left;
}

.event-price {
	margin: 10px;
	h3 {
		margin: 0;
	}
}

.event-loop {
  float: left;
  width: 100%;
}

.like-icon {
	height: 41px;
	width: 41px;
	background: url('../img/likeIcon.png') no-repeat 0 0;
	cursor: pointer;
	float: left;
      &.large {
        height: 80px;
        width: 80px;
        background: url("../img/likeIcon.png") no-repeat 0px 0/197px 80px;
      }
	&.active {
		background: url('../img/likeIconActive.png') no-repeat 0 0;
	}
}

.dislike-icon {
	height: 41px;
	width: 41px;
	background: url('../img/likeIcon.png') no-repeat -61px 0;
	cursor: pointer;
	float: right;
	margin-left: 20px;
    &.large {
      height: 80px;
      width: 80px;
      background: url("../img/likeIcon.png") no-repeat -117px 0/197px 80px;
    }
	&.active {
		background: url('../img/likeIconActive.png') no-repeat -61px 0;
	}
}


.like-icon-mobile {
    height: 25px;
    width: 25px;
    background: url("../img/mobileLikeIcon.png") no-repeat 0 0/25px 25px;
    cursor: pointer;
    float: right;
    background-size: cover;
    margin-bottom: 15px;
	&.active {
        background: url("../img/likeIconActive.png") no-repeat 0px 0/25px 25px;
        height: 25px;
        width: 25px;
        background-size: cover;
	}
}

.dislike-icon-mobile {
	height: 25px;
	width: 25px;
	background: url('../img/mobileLikeIcon.png') no-repeat 0px -43px / 25px 25px;
    background-size: cover;
	cursor: pointer;
	float: right;
	&.active {
        background: url("../img/likeIconActive.png") no-repeat -37px 0/25px 25px;
        height: 25px;
        width: 25px;
        background-size: cover;
	}
}

.mobile-event-title {
  font-size: 16px;
}


.mobile-vote-icons {
  width: 9%;
  float: left;
  display: inline;
  height: 100%;
  margin: 13px 1px;
}

.event {
	padding: 10px;
}

.fb_iframe_widget span {
  display: none !important;
}

.event-inner {
	background: #f6efee;
	height: 425px;
	img {
		width: 100%;
	}
}

.event-details {
	padding: 10px 20px;
	text-align: left;
  h4 {
    font-weight: bold;
  }
}

.create-account {
	padding: 10px 15px;
	background: #FF5C50;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	margin: 10px 0;
	display: block;
}

.recs {
	margin: 0px 0 4px 14px;
}

.accountCreate {
	padding-right: 15px;
	border-right: 1px solid #fff;
}

.accountSignIn {
  margin-left: 10px;
	padding-right: 15px;
}

.accountHelp {
  margin-left: 10px;
}

.buy {
    padding: 9px 27px;
    background: #FF5C50;
    border: none;
    display: block;
    font-size: 1.3em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 2px 1px 1px #E24B44;
    // &:hover {
      // color: #fff;
    // }
    &.tutorial {
      max-width: 220px;
      padding: 9px 27px;
      margin: 0 auto;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
}
.viewContainer {
    background: rgba(0,0,0,.5);
}

.view-select {
    color: #fff;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 200;
    padding: 20px;
    max-width: 1070px;
	&.map {
		margin: 0 auto;
      padding: 10px 20px 25px 20px;
	}
}

.cal-controls {
  height: 50px;
}

.fc-toolbar {
    margin-top: -138px;
    .fc-left {
      margin-left: -20px;
      margin-top: -122px;
    }

    .fc-right {
      margin-right: -20px;
      margin-top: -122px;
    }
    h2 {
      font-size: 24px;
      text-transform: uppercase;
      margin: 10px 0;
      color: #fff;
    }
    .fc-icon {
      display: none;
    }
}

.fc button {
  height: 50px;
}

.fc-button {
  height: 50px;
  cursor: pointer;
  width: 79px;
  &.fc-state-default {
//    background: url("../img/sliderRight.png") no-repeat 7px 5px/71px 40px;
    border: none;
    text-shadow: none;
    box-shadow: none;
  }
}

.fc-next-button.fc-state-default {
  background: url("../img/sliderRight.png") no-repeat 7px 5px/71px 40px;
}

.fc-prev-button.fc-state-default {
  background: url("../img/sliderLeft.png") no-repeat 7px 5px/71px 40px;
}



.map-ctrls {
	height: 70px;
}


.map-ctrl {
	color: #47ACF4;
	text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
	&.prev-ctrl {
		background: url('../img/prevIcon.png') #F6EFEE 20px 25px/11px 18px no-repeat;
		cursor: pointer;
		position: absolute;
		left: 0;
		width: 50%;
		padding: 25px 40px;
	}
	&.next-ctrl {
		background: url("../img/nextIcon.png") #F6EFEE 120px 25px/11px 18px no-repeat;
		cursor: pointer;
		position: absolute;
		right: 0;
		width: 50%;
		padding: 25px 75px;
	}
}


.map-margin {
	margin: 20px 0 0 0;
}

// Help / Tutorial Styles

.tut {
  padding: 0 300px;
  h1.header {
    font-size: 64px;
    font-weight: bold;
  }
  .number {
    border: 5px solid;
    padding: 6px 0;
    width: 70px;
    border-radius: 50%;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .tut-categories {
    padding: 0 40px;
    text-align: center;
    margin: 0 auto;
  }
  .callout {
    padding: 0 30px;
    font-size: 22px;
  }
  .question-box {
    width: 30px;
    display: inline-table;
    border: 4px solid #fff;
    padding: 13px 27px;
    font-size: 60px;
    margin: 20px 10px;
    font-weight: bold;
    text-align: center;
  }
}

.help-overlay {
  position: relative;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
  z-index: 5;
  display: none;
}


.padding80 {
  padding: 0 85px;
}

.main-content {
  display: block;
  margin: 30px auto;
}

.event-counter {
	padding: 60px 0;
}

// Map view 

.angular-google-map-container {
	height: 820px;
	width: 100%;
	float: left;
}

.tab-content, .map-overlay {
	position: absolute;
	z-index: 1;
	background: #F6EFEE;
	color: #454546;
  min-height: 800px;
  -webkit-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);
  margin-top: 25px;
  min-width: 300px; 
}

.tab-pane {
	-webkit-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);
	box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.35);

	min-width: 300px;	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: transparent;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #FF5C50;
	border: 1px solid #FF5C50;
	padding: 20px 15px 35px;
	border-radius: 0;
	cursor: pointer;
	&:hover {
		background: rgba(255, 255, 255, .2);
	}
}

.nav-tabs>li>a {
	background: transparent;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	padding: 20px 15px 35px;
	cursor: pointer;
	border-radius: 0;
	&:hover {
		background: rgba(255, 255, 255, .2);
	}
}

.event-number {
  height: 37px;
  width: 26px;
  padding: 4px 0px;
  color: #fff;
  float: left;
  height: 50px;
  margin: 0px 10px;
  background: url("../img/marker.png") no-repeat 0 0/27px 37px;
  text-align: center;
  font-weight: bold;
	&:nth-child(10) {
		padding: 5px;
	}
}


.map-event {
	padding: 3.15%;
	border-bottom: 1px solid #BDB9BD;
	h4 {
		margin: 2px 0;
    font-weight: bold;
	}
}



//Calendar Styles

.calendar {
	max-width: 1070px;
	margin: 0 auto;
    overflow: visible;
    .fc table {
        border-collapse: separate;
        border-spacing: 10px 20px;
        min-height: 300px;
    }
    td.fc-day {
        background: #fff;
    }
    .fc td {
        border: none;
    }
    .fc-widget-header {
        display: none;
    }
    tr {
      td.fc-event-container {
        height: inherit;
      }
    }

    td.fc-day-number {
        padding: 7px;
        font-weight: bold;
        color: #DBD0CE;
        &.fc-today {
            border-width: 5px 5px 0 5px;
            border-color: #5DD49C;
            border-style: solid;
        }
    }

  .fc-event {
    cursor: pointer;
    border: none;
    font-size: 1em;
  }

    td.fc-day.fc-today {
      border-width: 0 5px 5px 5px;
      border-color: #5DD49C;
      border-style: solid;
      .event-count {
        background: #5DD49C;
        text-shadow: 2px 1px 1px #3BA572;
      }
    }

    td.fc-day-number {
      height: 10px;
    }
    td.fc-more-cell {
      height: 10px;
    }
    .fc-other-month {
      opacity: .6;
    }
    .fc-day-grid-container {
      height: inherit !important;
    }

    .fc-ltr .fc-basic-view .fc-day-number {
      text-align: left;
    }

  .event-count {
      background: #FF5C50;
      padding: 5px 10px;
      color: #fff;
      font-size: 1em;
      font-weight: bold; 
      text-shadow: 2px 1px 1px #E24B44;
      width: 11px;
      float: right;
      }
}

.fc-content-skeleton {
      tr {
        td {
          cursor: pointer;
        }
      }
      thead {
        cursor: pointer;
    }
  } 


  .fc-day-grid-event > .fc-content {
    white-space: inherit;
    background: #FF5C50;
  }



//Client Validation Styles 

.register input.ng-invalid.ng-dirty {
	border: 1px solid #FF5C50;
}

.register input.ng-pristine.ng-invalid {
	border: none;
}

.ng-pristine .ng-invalid-required {
    box-shadow: none;
}



//All purpose classes 

.wide-kerning {
	letter-spacing: .8em;
}

.uppercase {
	text-transform: uppercase;
}

.inline {
	display: inline;
}

.inline-block {
  display: inline-block;
}

.italic {
	font-style: italic;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.blue {
	color: #47ACF4
}

.red {
	color: #FF5C50;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden; 
}

.pointer {
	cursor: pointer !important;
}

.summary {
	padding-bottom: 20%;
}

.white {
	color: #fff;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.margin {
	margin: 10px 0;
}

.margin5 {
  margin: 5px 0;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin20 {
  margin: 20px 0;
  width: 100%;
}

.block {
	display: block;
}

.dark {
  color: $dark-grey;
}

.bold {
	font-weight: bold;
}

.pointer {
	cursor: pointer;
}

.right {
	float: right;
}

.left {
	float: left;
}

.happ-button {
  padding: 9px 27px;
  background: #FF5C50;
  border: solid #FF5C50 2px;
  display: block;
  font-size: 1.3em;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 1px 1px #E24B44;
  text-align: center;
  height: 43px;
  &.active {
    color: #FF5C50;
    background: none;
    text-shadow: none;
    &:hover, &:visited, &:active, &:focus {
      color: #FF5C50;
    }
  }
  &:hover, &:visited, &:active, &:focus {
    color: #FFF;
  }
  &.inverse {
    color: #FF5C50;
    background: none;
    text-shadow: none;
    &:hover, &:visited, &:active, &:focus {
      color: #FF5C50;
    }
    &.active {
      color: #FFF;
      background: #FF5C50;
      text-shadow: 2px 1px 1px #E24B44;
      &:hover, &:visited, &:active, &:focus {
        color: #FFF;
      }
    }
  }
}

//iPad

@media screen and (min-width : 768px) and (max-width : 1024px) {
  .user-info {
    width: 130px;
  }
}



//Mobile

@media screen and (max-width: 768px) {
    html, body {
      overflow: hidden;
    }


    .row {
      margin-right: 0;
      margin-left: 0;
    }

	.event {
		padding: 0;
	}

	.logo {
		margin: 20px 0;
	}

  .day-slider {
    padding: 0;
  }

	h4.main-date {
		font-size: 16px;
    margin-top: 17px;
	}

	.glyphicon.glyphicon-chevron-right{
		height: 50px;
		width: auto;
		right: 50%;
		&:before {
			content: url('../img/sliderRight.png');
			cursor: pointer;
		}
	}

	.carousel-control.left {
		margin-left: 0;
	}

	.carousel-control.right {
    margin-right: 0;
	}

	.uppercase.center.white.wide-kerning {
		margin: 10px 0;
		padding: 10px;
	}

	.glyphicon.glyphicon-chevron-left{
		height: 50px;
		width: auto; 
		left: 50%;
		&:before {
			content: url('../img/sliderLeft.png');
			cursor: pointer;
		}
	}

	.event-slider {
		margin-bottom: 52px;
	}

	.mobile-large-num {
		font-size: 3.2em;
		display: block;
	}

	.mobile-search {
		background: url("../img/searchIcon.png") 20px 10px/23px 26px no-repeat;
		width: 20%;
		height: 38px;
		display: inline;
	}

    .search-large {
      background: url("../img/searchIcon.png") 15px 40px/23px 26px no-repeat;
    }

  //Drawer menu styles
  .mobile-menu {
		background: url("../img/menuIcon.png") 18px 10px/26px 26px no-repeat;
		width: 20%;
		height: 38px;
		display: inline;
	}

  .categoriesDropdown {
    &.drawer {
      width: 100%;
      position: absolute;
      background: #454546;
      z-index: 3;
      padding: 20px;
      border: 4px solid #FF5C50;
      top: 288px;
      left: 0;  

    }
  }

	.mobile-logo {
		width: 40%;
	}
	
	.mobile-event {
    width: 100%;
    background: #FFFFFF;
		margin: 10px 0;
		padding: 0;
		float: left;
	}

  .register, .login {
    padding: 0 5px;
  }

  .mobile-event-image {
    background-size: cover;
    width: 30%;
    height: 100px;
    display: inline-block;
    float: left;
  }

	.mobile-event-details {
      width: 56%;
      padding: 10px;
      display: inline-block;
      float: left;
	}

  .scrollable {
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
  }

	.event-counter {
		padding: 10px 0;
	}

	.event-inner {
		height: 425px;
	}

}

.happ-date {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 11px;
  border-top: solid #D9433F 2.5px;
  position: absolute;
  margin-top: 136px;
  width: 100%;
  margin-left: -15px;
  font-weight: bold;
}

.happ-buttons {
  .happ-button {
    width: 50%;
  }
}

  li{
    text-decoration: none;
    list-style-type: none;
    a{
     color: #FFFFFF;
     text-decoration: none;
    }
  }


#firstMenu{
 color: #8b8b8b;
 text-decoration: none;
}


#adOne {
  height: 250px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 3px 11px #888888;
}

#adTwo {
  height: 400px;
  background-color: #fff;
  box-shadow: 1px 3px 11px #888888;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#ad p {
    font-weight: 400;
    text-align: center;
    top: 50%;
    bottom: 50%;
    position: relative;
    font-size: 22px;
}

.sidebar-menu {
  padding-top: 154px;
  padding-left: 0px;
  font-size: 16px;
  .fa-star {
    color: #F5A60D;
  }
  li {
    a {
      -webkit-font-smoothing: subpixel-antialiased;
      display: block;
      padding: 30px 40px;
      border-bottom: 1px solid #626262;
      &:hover {
        color: #FFFFFF;
        background-color: #626262;
      }
      &:focus {
        color: #FFFFFF;
      }
    }
    &:first-child a{
      color: #9B9B9B;
    }
    &:last-child a{
      border-bottom: none;
    }
    &.active a{
      background-color: #EAE6DE;
      color: #555555;
    }
  }
}

.cityLogo {
  width: 100%;
  hr {
    border-color: #B8B5B0;
  }
  span{
    color: #9B9B9B;
    float: left;
    ;
  }
}

.col-sm-4.center.logo {
  float: right;
  margin-right: 2%;
}

.header-container {
  z-index: 2;
  background-color: #FFFFFF;
  border-bottom: 1px #C7C5C0 solid;
  height: 235px;
  margin-bottom: 30px;
  position: relative;
  padding: 0px;
  .logo-row {
    padding-top: 20px;
  }
  hr {
    border-color: #B8B5B0;
    margin-bottom: 35px;
  }
  .header-controls {
    color: #9B9B9B;
    margin-bottom: 35px;
    .filter-controls {
      text-align: center;
      font-size: 13px;
      text-transform: uppercase;
      span {
        line-height: 45px;
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        &.active {
          color: #F15D53;
        }
      }
      .fa-filter, .fa-exhange {
          font-size: 1.7em;
      }
    }
    .filter-search{
      position: relative;
      width: 100%;
      input {
        width: 90%;
        line-height: 45px;
        font-size: 18px;
        font-weight: bold;
        padding-left: 40px;
        height: 45px;
        margin: 0 auto;
      }
      .fa-search {
        position: absolute;
        top: 0px;
        left: 10px;
        font-size: 20px;
        line-height: 45px;
      }
    }
  }
}



.filter-options {
  background-color: #F7F5F3;
  border-top: 3px solid #FC5C50;
  color: #9B9B9B;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  // bottom: -300px; // We'll actually set this with JS to make it more fluid
  width: 100%;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.6);
  z-index: 50;
  label, .label {
    color: #9B9B9B;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0px;
  }
  .filter-more-options {
    padding-bottom: 30px;
    input[type=checkbox] {
      display: none;
      & + label {
        display: inline-block;
        margin-left: -2em;
        line-height: 1.5em;
        margin: 8px 0 8px 32px;
        & > span {
          display: inline-block;
          width: 1.2em;
          height: 1.2em;
          margin: 0 0.5em 0.3em 0.25em;
          border: 1px solid #9B9B9B;
          color: #FF5C50;
          vertical-align: bottom;
          text-align: center;
          .fa {
            display: none;
          }
        }
      }
    }
    input[type=checkbox]:checked + label > span .fa{
      display: block;
    }
    .label {
      margin-bottom: 12px;
      width: 100%;
      display: block;
      text-align: left;
    }
    input[type=text] {
      background-color: #F7F5F3;
      border: 1px solid #9B9B9B;
      color: #FF5C50;
      font-weight: bold;
      font-size: 0.9em;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 32px;
    }
  }
}

.filter-date {
  margin-top: 30px;
  margin-bottom: 40px;
  input[type=checkbox] {
    display: none;
    &:checked + label {
      background-color: #FC5C50;
      color: #FFFFFF;
    }
  }
  .date-calendar-wrapper {
    position: relative;
  }
  input[type=text] {
    position: absolute;
    z-index: -10;
    &:focus {
      outline: none;
    }
    &.hasValue + label {
      background-color: #FC5C50;
      color: #FFFFFF;
    }
  }
  label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
    //color: #9B9B9B;
    line-height: 55px;
    z-index: 10;
  }
}

.venue a {
    font-size: 14px;
    color: #333;
    text-decoration: none;

  
}

a:hover, a:focus {
    color: #2a6496; 
    text-decoration: none;
}

.venue a:hover {
    text-decoration: none;  
}

span#mapCircle {
      background: #555555;
    /* background: rgb(255, 255, 255); */
    border-radius: 50%;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 12px;
    position: relative;
    margin-top: -13%;
    margin-left: 85%;
}

.dark {
    font-size: 18px;
    color: #444;
    margin-bottom: 10%;
}

#relatedEvents{
  width: 40%;
    margin-left: 22%;
    color: #444;
}

.everything{
  position:relative;
  overflow: hidden;
}

.footer {
  font-weight: bold;
  color: #3D3D3D;
  text-align: center;
  .footer-social{
    font-size: 25px;
    .fa-stack {
      width: 1em;
    }
    a .fa, a:hover .fa {
      &.fa-twitter-square {
        color: #1DCAFF;
      }
      &.fa-facebook-square {
        color: #3B5998;
      }
      &.fa-square {
        color: #FFFFFF;
      }
    }
  }
  .footer-menu {
    padding: 0;
    font-weight: bold;
    font-size: 12px;
    li {  
      text-decoration: none;
      display: inline;
      padding: 0 8px;
      a {
        text-decoration: underline;
        color: #3D3D3D;
      }
    }
  }
  .footer-copyright {   
    font-size: 10px;
    padding-bottom: 20px;
  }
}

a.ng-binding:hover{
  text-decoration: none;
  color: #333;
}

/*Home Page SCSS*/

.start-date{
  margin-left: 5px;
}

/*Single Venue View*/
.venueSingle{
    background: #58afb9;
    height: 164px;
    margin: -30px -15px 0px -15px;
  }

  .venueInfo{
    text-align: center;
    width: 100%;
  }

  .venueText{
    font-size: 1em;
  }

  .venueName{
    font-size: 2em;
    color: #fff;
    margin-bottom: 21px;
  
}
  

.venue-address{
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    width: 300px;
    margin: 0 auto;
}

// Static Page Styling
.static-page{
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 35px;
    padding: 0px 20px 72px;
    h1{
      font-size: 40px;
      margin-top: 48px;
      margin-bottom: 40px;
      line-height: 1;
    }
}

.intro-message {
  background: #FFFFFF;
  text-align: center;
  .happ-button {
    max-width: 200px;
    margin: 20px auto 25px;
  }
}

.venue-listing {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  .container {
    background-color: #FFFFFF;
    padding: 40px 50px;
  }
  .venue-line {
    display: table-row;
    a {
      color: #9B9B9B;
      display: table-cell;
      vertical-align: middle;
      height: 50px;
      &:hover, &:active {
        color: #FF5C50;
      }
    }
  }
  .venue-pagination {
    font-weight: normal;
    font-size: 15px;
    margin-top: 40px;
    float: right;
    li {
      display: inline-block;
      margin-right: 20px;
      a {
        color: #FC5C50;
        &.active {
          font-weight: 900;
        }
        &.prevnext {
          font-weight: 500;
          font-size: 13px;
        }
      }
    }
  }
}

.admin-form {
  width:675px;
  margin:50px auto;
  label {
    display:block;
  }
  input.full { 
    width:100%;
  }
  input, select, textarea {
    border: 1px solid #ccc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 4px 7px;
    outline: 0;
    margin:5px 0;
  }
  input {
    -webkit-appearance: none;
    &:focus {
      border-color: #339933;
    }
    &[type='submit'] {
      background: #339999;
      color: #FFFFFF;
      font-weight: bold;
    }
    &[type='checkbox'] + label {
      display: inline-block; 
      margin-right: 20px;
    }
  }
  .age-level {
    display: inline-block;
  }
  select {
    background: #fff;
    height: 31px;
  }
  .happ-categories {
    select {
      height: auto;
    }
    .selected {
      font-weight: bold;
      float: right;
      width: 50%;
    }
  }
  .single_event {
    padding: 10px 5px 0;
  }
  .single_event .container, .suggestion-list li .container {
    width: 70%;
    display: inline-block;
  }
  .single_event img, .suggestion-list li img {
    vertical-align: top;
    float: left;
  }
  .single_event span, .single_event small, .suggestion-list li {
    display: block;
  }
  .suggestion-list li .container {
    text-wrap: normal;
  }
  .single_venue {
    padding: 10px 5px 0;
  }
  .single_venue .container {
    width: 70%;
    display: inline-block;
  }
  .single_venue span, .single_venue small {
    display: block;
  }
}

/*Profile Page Styling*/

.user-page-profile{
  width: 97%;

}

.profile-header{
  height: 125px;
}

.userInfo{
  margin-top: 50px;
}

.currentUser{
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 7px;
}

.userSince{
  color: #fff;
  font-size: 1.2em;
}

.userImage{
    text-align: center;
    margin-top: 104px;
}

.avatarSettings{
    margin-top: 50px;
    a, a:hover{
       color: #9b9b9b;
    }
}

.profileData{
  height: 900px;
  color:#9B9B9B;
  margin-top: -46px;
}

.deactivate{
  display: block;
  float: left;
  color: #9B9B9B;
  margin-top: 7px;
}

.profileDivs{
    border-bottom: #9B9B9B 1px solid;
    width: 420px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middleInfo{
    float: right;
    margin-right: 195px;

}
.edit{
  float:right;
  color: #9B9B9B;
  margin-top: 7px;
  margin-right: 20px;

}

.notifyBox{
  display:block;
  font-weight: 100;
  padding-top: 50px;
  padding-bottom: 100px;
  span{ 
    margin-left: 15px;
    font-weight: 500;
  }
}

#editPic{
  border-right: #9B9B9B 1px solid;
  padding-right: 6px;
}

#removePic {
    padding-left: 5px;
}

.saveButton {
    padding: 13px 27px;
    border: solid #FF5C50 1px;
    display: block;
    color: #FF5C50;
    text-align: center;
    height: 50px;
    width: 250px;
    float: right;
    font-size: 1.1em;
    font-weight: 500;
    margin-right: 125px;
}

.saveButton:hover {
  color: #FF5C50;
}

.filter-more-options.row.notification {
    margin-top: 55px;
    margin-bottom: 128px;
    margin-left: -18px;
}

.fa.notifyCheck{
  color: #FF5C50;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em 0.3em 0.25em;
  border: 1px solid #9B9B9B;
  color: #FF5C50;
  vertical-align: bottom;
  text-align: center;
}

input#notifyMe {
    display: none;
}

/* Bootstrap Tablet Breakpoint */
@media (min-width: $screen-sm-min) {
  .content-wrapper {
    .menu-button {
      position: absolute;
      left: 30px;
      top: 20px;
      font-size: 30px;
    }
  }
  .happ-listing {
    .happ-single {
      .happ-image {
        height: 178px;
        margin-bottom: 15px;
        .happ-image-background {
          box-sizing: border-box;
          left: 0px;
        }
        .happ-categories {
          font-size: 13px;
          line-height: 15px;
          padding: 6px 18px;
          left: 5px;
        }
        .happ-date {
          font-size: 12px;
          height: 35px;
          line-height: 35px;
          position: relative;
          top: -35px;
          left: 0px;
          margin: 0px;
        }
      }
      .happ-data {
        .happ-name {
          font-size: 15px;
          line-height: 20px;
          margin: 15px 0 15px;
        }
        .happ-icons {
          font-size: 13px;
          margin-left: 1.2em;
          .happ-icon {
            margin-bottom: 10px;
            .fa {
              font-size: 11px;
            }
          }
        }
      }
      .happ-buttons {
        width: 41.66666667%;
        border: none;
        bottom: 15px;
        right: 10px;
        left: inherit;
        .happ-button{
          border: 1px solid #FC5C50;
        }
      }
    }
  }
}

/* Bootstrap Small Screen Breakpoint */
@media (min-width: $screen-md-min) {
  .content-wrapper {
    width: 80%;
    float: left;
    .menu-button {
      display: none !important;
    }
  }
  .sidebar{
    width: 20%;
    float: left;
    display: block;
  }
  .happ-listing {
    .happ-single {
      .happ-image {
        height: 147px;
        margin-bottom: 20px;
        .happ-image-background {
          box-sizing: border-box;
          left: 0px;
        }
        .happ-categories {
          font-size: 12px;
          line-height: 14px;
          padding: 5px 15px;
        }
        .happ-date {
          font-size: 11px;
          height: 26px;
          line-height: 26px;
          position: relative;
          top: -26px;
          left: 0px;
          margin: 0px;
        }
      }
      .happ-data {
        height: 220px;
        .happ-name {
          margin: 0 7px 15px;
        }
        .happ-icons {
          font-size: 12px;
          margin-right: 7px;
          margin-left: 2.14285714em;
          .happ-icon {
            margin-bottom: 15px;
            .fa {
              font-size: 12px;
            }
            &.happ-icon-date {
              display: block;
            }
          }
        }
      }
      .happ-buttons {
        line-height: 40px;
        width: 100%;
        border: none;
        right: inherit;
        left: 0px;
        bottom: 0px;
        .happ-button {
          border: none;
          border-top: 1px solid #FC5C50;
        }
      }
    }
  }
}
