// Color Pallete and variables

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// UX colors, grey
$dark-grey: #2C2625;
$grey: #404042;
$light-grey: #D1D2D4;
$tan: #F7EEEF;
$red: #FF5C50;
$green: #72B43E;
$teal: #58afb9;

$user-pages-font-size: 14px;
