<div ng-cloak>
  <div ng-if="!mobile()">
    <!-- if mobile add snap-content -->

    <!-- Get the home body partial -->
    <div class='center white imageContainer'>
      <h1 style="margin:0px auto;padding:20px 0 10px 0;">Happs Listing</h1>
      <h3>{{eventsCount}} Happs Currently in the System</h3>
      <table style="margin:0 30px 50px;">
        <thead>
          <tr>
            <th style="width:32px;">ID</th>
            <th>Title &amp; Link</th>
            <th style="width:67px;">Source</th>
            <th style="width:80px;">Start Date</th>
            <th style="width:90px;">Start Time</th>
            <th style="width:80px;">End Date</th>
            <th style="width:90px;">End Time</th>
            <th style="width:90px;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in allEvents">
            <td>{{item.id}}</td>
            <td><a href="{{item.url}}" style="color:#33CCFF;">{{item.event_name}}</a></td>
            <td>{{item.source}}</td>
            <td>{{item.start_date}}</td>
            <td>{{item.start_only_time}}</td>
            <td>{{item.end_date}}</td>
            <td>{{item.end_only_time}}</td>
            <td><a href='/happ/{{item.id}}'>View</a> | <a href='/admin/event/edit/{{item.id}}'>Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div ng-view class="main-content" ng-animate="{enter: 'animate', leave: 'animate'}"></div> -->
    <!-- if mobile -->
  </div>
</div>
