<div class="static-page container">
	<div class="row">
		<div class="col-xs-12">
			<h1>About.</h1>
			<p>
				We've read, "Necessity is the Mother of Inventions".  This is very true about the beginnings of CityHapps.  CityHapps was founded by 2 Fathers (1 married/ 1 single) searching for new and exciting things to do with their kids.  Not having an immediate social circle or "Mommy Network" to leverage, many frustrating hours were spent combing the Internet and social sites looking for new, fun and creative activities.
			</p>
			<p>
				The Problem: there were too many sites with outdated, unfiltered and inappropriate information.  Frustrating!  It's also said that the best things in life requires a woman's touch.  So shortly after, our 3rd partner, a Mom, joining the CityHapps team.
			</p>
			<p>
				CityHapps is unique experience that brings family activities to your fingertips quickly and easily.  Our goal is to become your go to source for the most current, socially validated, and family focus content.  No more comments like; "I wish I had known", or "Why are we stuck doing the same thing."
			</p>
			<p>
				CityHapps is for everyone!  Whether you are married, single, fulltime or part time parent, or just the fun Aunt/Uncle.  We hope you enjoy your experience with CityHapps and that it leads to more enjoyable times and memories with your families!
			</p>
			<p>
				-Warrick, Vincent, & Edie.
			</p>
		</div>
	</div>
</div>