<div class="static-page container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Request a New Event</h1>
			<p>
				Know about an event we don't have listed yet? Tell us about it using the form below.
			</p>
			<!--
			<iframe height="1726" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none"  src="https://ninelabs.wufoo.com/embed/q1qkw1t0aup8ig/"><a href="https://ninelabs.wufoo.com/forms/q1qkw1t0aup8ig/">Fill out my Wufoo form!</a></iframe>
			-->

			<!-- <script src="scripts/wufoo.js"></script> -->

			<form id="form3" name="form3" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ninelabs.wufoo.com/forms/q1qkw1t0aup8ig/#public">


				<label class="desc" id="title1" for="Field1">
					Event Name
					<span class="required-field">(Required)</span>
				</label>
				<div>
					<input id="Field1" name="Field1" type="text" class="field text medium" value="" maxlength="255" tabindex="1" onkeyup="" required />
				</div>


				<label class="desc" id="title3" for="Field3">
					Event URL
				</label>
				<div>
					<input id="Field3" name="Field3" type="url" class="field text medium" value="" maxlength="255" tabindex="2" />
				</div>


				<label class="desc" id="title4" for="Field4">
					Event Image URL
				</label>
				<div>
					<input id="Field4" name="Field4" type="url" class="field text medium" value="" maxlength="255" tabindex="3" />
				</div>


				<fieldset>
					<h3>
						Categories
					</h3>
					<div>
						<span class="subfield">
							<input id="Field7" name="Field7" type="checkbox" class="field checkbox" value="Arts" tabindex="4" />
							<label class="choice" for="Field7">
								<span class="choice__text">Arts</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field8" name="Field8" type="checkbox" class="field checkbox" value="Attractions" tabindex="5" />
							<label class="choice" for="Field8">
								<span class="choice__text">Attractions</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field9" name="Field9" type="checkbox" class="field checkbox" value="Auto" tabindex="6" />
							<label class="choice" for="Field9">
								<span class="choice__text">Auto</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field10" name="Field10" type="checkbox" class="field checkbox" value="Books" tabindex="7" />
							<label class="choice" for="Field10">
								<span class="choice__text">Books</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field11" name="Field11" type="checkbox" class="field checkbox" value="Charity" tabindex="8" />
							<label class="choice" for="Field11">
								<span class="choice__text">Charity</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
					</div>
				</fieldset>


				<label class="desc" id="title107" for="Field107">
					Venue Relation
				</label>
				<div>
					<input id="Field107" name="Field107" type="text" class="field text medium" value="" maxlength="255" tabindex="9" onkeyup="" />
				</div>


				<label class="desc" id="title108" for="Field108">
					Venue Name
					<span class="required-field">(Required)</span>
				</label>
				<div>
					<input id="Field108" name="Field108" type="text" class="field text medium" value="" maxlength="255" tabindex="10" onkeyup="" required />
				</div>


				<label class="desc" id="title109" for="Field109">
					Venue URL
				</label>
				<div>
					<input id="Field109" name="Field109" type="url" class="field text medium" value="" maxlength="255" tabindex="11" />
				</div>


				<label class="desc" id="title110" for="Field110">
					Street Address
					<span class="required-field">(Required)</span>
				</label>
				<div>
					<input id="Field110" name="Field110" type="text" class="field text medium" value="" maxlength="255" tabindex="12" onkeyup="" required />
				</div>


				<label class="desc" id="title111" for="Field111">
					Building / Suite
				</label>
				<div>
					<input id="Field111" name="Field111" type="text" class="field text medium" value="" maxlength="255" tabindex="13" onkeyup="" />
				</div>


				<label class="desc" id="title120" for="Field120">
					City
				</label>
				<div>
					<input id="Field120" name="Field120" type="text" class="field text medium" value="" maxlength="255" tabindex="14" onkeyup="" />
				</div>


				<label class="desc" id="title118" for="Field118">
					State
				</label>
				<div>
					<select id="Field118" name="Field118" class="field select medium" tabindex="15">
						<option value="" selected="selected">
						</option>
						<option value="Alabama">
							Alabama
						</option>
						<option value="Alaska">
							Alaska
						</option>
						<option value="Arizona">
							Arizona
						</option>
						<option value="Arkansas">
							Arkansas
						</option>
						<option value="California">
							California
						</option>
						<option value="Colorado">
							Colorado
						</option>
						<option value="Connecticut">
							Connecticut
						</option>
						<option value="Delaware">
							Delaware
						</option>
						<option value="Florida">
							Florida
						</option>
						<option value="Georgia">
							Georgia
						</option>
						<option value="Hawaii">
							Hawaii
						</option>
						<option value="Idaho">
							Idaho
						</option>
						<option value="Illinois">
							Illinois
						</option>
						<option value="Indiana">
							Indiana
						</option>
						<option value="Iowa">
							Iowa
						</option>
						<option value="Kansas">
							Kansas
						</option>
						<option value="Kentucky">
							Kentucky
						</option>
						<option value="Louisiana">
							Louisiana
						</option>
						<option value="Maine">
							Maine
						</option>
						<option value="Maryland">
							Maryland
						</option>
						<option value="Massachusetts">
							Massachusetts
						</option>
						<option value="Michigan">
							Michigan
						</option>
						<option value="Minnesota">
							Minnesota
						</option>
						<option value="Mississippi">
							Mississippi
						</option>
						<option value="Missouri">
							Missouri
						</option>
						<option value="Montana">
							Montana
						</option>
						<option value="Nebraska">
							Nebraska
						</option>
						<option value="Nevada">
							Nevada
						</option>
						<option value="New Hampshire">
							New Hampshire
						</option>
						<option value="New Jersey">
							New Jersey
						</option>
						<option value="New Mexico">
							New Mexico
						</option>
						<option value="New York">
							New York
						</option>
						<option value="North Carolina">
							North Carolina
						</option>
						<option value="North Dakota">
							North Dakota
						</option>
						<option value="Ohio">
							Ohio
						</option>
						<option value="Oklahoma">
							Oklahoma
						</option>
						<option value="Oregon">
							Oregon
						</option>
						<option value="Pennsylvania">
							Pennsylvania
						</option>
						<option value="Rhode Island">
							Rhode Island
						</option>
						<option value="South Carolina">
							South Carolina
						</option>
						<option value="South Dakota">
							South Dakota
						</option>
						<option value="Tennessee">
							Tennessee
						</option>
						<option value="Texas">
							Texas
						</option>
						<option value="Utah">
							Utah
						</option>
						<option value="Vermont">
							Vermont
						</option>
						<option value="Virginia">
							Virginia
						</option>
						<option value="Washington">
							Washington
						</option>
						<option value="West Virginia">
							West Virginia
						</option>
						<option value="Wisconsin">
							Wisconsin
						</option>
						<option value="Wyoming">
							Wyoming
						</option>
					</select>
				</div>


				<label class="desc" id="title122" for="Field122">
					Zip Code
				</label>
				<div>
					<input id="Field122" name="Field122" type="text" class="field text medium" value="" maxlength="255" tabindex="16" onkeyup="" />
				</div>

				<fieldset>
					<h3>
						Indoor or Outdoor
					</h3>
					<div>
						<input id="radioDefault_123" name="Field123" type="hidden" value="" />
						<span>
							<input id="Field123_0" name="Field123" type="radio" class="field radio" value="Indoor" tabindex="17" checked="checked" />
							<label class="choice" for="Field123_0">
								<span class="choice__text">Indoor</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span>
							<input id="Field123_1" name="Field123" type="radio" class="field radio" value="Outdoor" tabindex="18" />
							<label class="choice" for="Field123_1">
								<span class="choice__text">Outdoor</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
					</div>
				</fieldset>


				<fieldset>
					<h3>
						Age Levels
					</h3>
					<div>
						<span class="subfield">
							<input id="Field124" name="Field124" type="checkbox" class="field checkbox" value="Infants" tabindex="19" />
							<label class="choice" for="Field124">
								<span class="choice__text">Infants</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field125" name="Field125" type="checkbox" class="field checkbox" value="Toddlers" tabindex="20" />
							<label class="choice" for="Field125">
								<span class="choice__text">Toddlers</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field126" name="Field126" type="checkbox" class="field checkbox" value="Child" tabindex="21" />
							<label class="choice" for="Field126">
								<span class="choice__text">Child</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field127" name="Field127" type="checkbox" class="field checkbox" value="PreTeen" tabindex="22" />
							<label class="choice" for="Field127">
								<span class="choice__text">PreTeen</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field128" name="Field128" type="checkbox" class="field checkbox" value="Young Adult" tabindex="23" />
							<label class="choice" for="Field128">
								<span class="choice__text">Young Adult</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field129" name="Field129" type="checkbox" class="field checkbox" value="Adult" tabindex="24" />
							<label class="choice" for="Field129">
								<span class="choice__text">Adult</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
						<span class="subfield">
							<input id="Field130" name="Field130" type="checkbox" class="field checkbox" value="Senior" tabindex="25" />
							<label class="choice" for="Field130">
								<span class="choice__text">Senior</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
					</div>
				</fieldset>


				<label class="desc" id="title225" for="Field225">
					Start Date/Time
					<span class="required-field">(Required)</span>
				</label>
				<div>
					<input id="Field225" name="Field225" type="text" class="field text medium" value="" maxlength="255" tabindex="26" onkeyup="" required />
				</div>


				<label class="desc" id="title226" for="Field226">
					End Date/Time
				</label>
				<div>
					<input id="Field226" name="Field226" type="text" class="field text medium" value="" maxlength="255" tabindex="27" onkeyup="" />
				</div>


				<fieldset>
					<div>
						<span class="subfield">
							<input id="Field227" name="Field227" type="checkbox" class="field checkbox" value="All Day Event" tabindex="28" />
							<label class="choice" for="Field227">
								<span class="choice__text">This is an all day event</span>
								<span class="choice__qty">
								</span>
							</label>
						</span>
					</div>
				</fieldset>


				<label class="desc" id="title327" for="Field327">
					Description
					<span class="required-field">(Required)</span>
				</label>

				<div>
					<textarea id="Field327" name="Field327" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="29" onkeyup="" required></textarea>
				</div>


				<label class="desc" id="title328" for="Field328">
					Tags (separate with commas)
				</label>
				<div>
					<input id="Field328" name="Field328" type="text" class="field text medium" value="" maxlength="255" tabindex="30" onkeyup="" />
				</div>

				<div>
					<input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />
				</div>

				<div class="hidden">
					<label for="comment">Do Not Fill This Out</label>
					<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
					<input type="hidden" id="idstamp" name="idstamp" value="BdhlezMsTV5UjB4TbdPIKxjYk/yQx6xi3JqwntySCKU=" />
				</div>
			</form>
		</div>
	</div>
</div>
