<div class="static-page container">
	<div class="row">
		<div class="col-xs-12">
			<h1>City Happs Privacy Policy</h1>
			<p><small>This Privacy Policy was last modified on (Aug 1, 2015).</small></p>
			<p>City Happs, Inc. ("us", "we", or "our") operates http://www.cityhapps.com (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.</p>
			<p>City Happs is committed to your rights to privacy and to keeping your Personal Information private and secure. You can visit City Happs' website without telling us who you are or revealing any personally identifying information. Our website does include areas where visitors can provide personally identifying information voluntarily. Therefore we have developed this privacy policy to inform you of our policies and practices regarding information we collect when you visit us online at http://www.cityhapps.com.</p>
			<p>When we refer to "personal information", what we mean is any information about you that is personally identifiable like your name, address, e-mail address, credit card information, precise location data, or phone number, and any other information that is not otherwise publicly available. We use your Personal Information only for providing and improving the Site to provide you with recommendations based on your profile and interests. By using the Site, you agree to the collection and use of information in accordance with this policy.</p>
			<h3>Minors</h3>
      <p>You must be at least 18 years old to register or subscribe for CityHapp's Services because CityHapps is available only to individuals who can form legally binding contracts under applicable law.</p>

      <h3>Information Collection And Use</h3>
      <p>While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information"). CityHapps  may collect personal information about you when you visit and use our website, when you register or subscribe for and sign in to our Services, when you open our e-mail newsletters, when you visit the websites of some CityHapps' partners, when you participate in a member review, when you submit events information, and when you enter promotions or sweepstakes sponsored by or in connection with CityHapps.
      </p>

      <h3>Log Data</h3>
      <p>Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, geolocation, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

      <h3>Cookies and Other Technologies</h3>
      <p>We use cookies and other technologies, such as pixel tags, and clear gifs, to personalize our Services to your preferences and to provide an automatic log-in process. Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.  Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.</p>
      <p>We may partner with a third party ad network to either display advertising on our website or to manage our advertising on other sites. Our ad network partner may use cookies and web beacons to collect non-personally identifiable information about your activities on this and other websites to provide you targeted advertising based upon your interests. If you wish to not have this information used for the purpose of serving you targeted ads, you may opt-out by contacting us support@cityhapps.com . Please note this does not opt you out of being served advertising. You will continue to receive generic ads.</p>

      <h3>Communications</h3>
      <p>We reserve the right to send you certain communications relating to the CityHapps Services or your account, such as service announcements and administrative messages, without offering you the opportunity to opt out of receiving them. Information about how to opt out of receiving communications to which you are currently subscribed is included in the communications we send to you.</p>

      <h3>Security</h3>
      <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

      <h3>Single Sign On</h3>
      <p>You can log in to our site using sign-in services such as Facebook Connect. These services will authenticate your identity and provide you the option to share certain personal information with us such as your name and email address to pre-populate our sign up form. Services like these also give you the option to post information about your activities on our Service to your social media profile page to share with others within your network.</p>

      <h3>Changes To This Privacy Policy</h3>
      <p>City Happs, Inc. may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on the Site. You are advised to review this Privacy Policy periodically for any changes.</p>

      <h3>Contact Us</h3>
      <p>If you have any questions about the privacy policy.</p>
    </div>
  </div>
</div>