<div class="image-uploader">
  <div class="upload-controls">
    <p ng-if="toggled">
      <button type="button" ng-click="toggle()" class="action-btn keep">Keep When Saved</button>
      <button type="button" ng-click="cancel()" class="action-btn cancel">Cancel</button>
    </p>
    <p ng-if="!toggled && label">
      <button type="button" ng-click="toggle()" class="happ-button">{{ label }}</button>
    </p>
  </div>
  <div ng-if="toggled" class="uploader">
    <div class="row">
      <div class="col-md-12">
        <input type="file" img-cropper-fileread image="cropper.source" />
        <div>
          <canvas ng-show="cropper.source"
                  width="500"
                  height="500"
                  image-cropper
                  image="cropper.source"
                  cropped-image="cropper.cropped"
                  crop-width="cropWidth"
                  crop-height="cropHeight"
                  min-width="minWidth"
                  min-height="minHeight"
                  keep-aspect="keepAspect"
                  crop-area-bounds="bounds"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
