<div class="filters">
	<div class="timeOptions">
		<input type="radio" name="date" id="date_today" value="today"><label for="date_today">Today</label>
		<input type="radio" name="date" id="date_tomorrow" value="tomorrow"><label for="date_tomorrow">Tomorrow</label>
		<input type="radio" name="date" id="date_weekend" value="weekend"><label for="date_weekend">Weekend</label>
		<input type="radio" name="date" id="date_calendar" value="calendar"><label for="date_calendar"><i class="fa fa-calendar"></i></label>
	</div>
	<div class="label">
		Good For:
	</div>
	<div class="choices">
		AgeLevels
	</div>
	<div class="label">
		Time of Day:
	</div>
	<div class="choices">
		<input type="checkbox" name="timeOfDay[morning]" value="morning"><label for="timeOfDay[morning]">Morning</label>
		<input type="checkbox" name="timeOfDay[afternoon]" value="afternoon"><label for="timeOfDay[afternoon]">afternoon</label>
		<input type="checkbox" name="timeOfDay[evening]" value="evening"><label for="timeOfDay[evening]">Evening</label>
		<input type="checkbox" name="timeOfDay[night]" value="night"><label for="timeOfDay[night]">Night</label>
	</div>
	<div class="label">
		Indoor|Outdoor:
	</div>
	<div class="choices">
		<input type="checkbox" name="io[indoor]" value="indoor"><label for="io[indoor]">Indoor</label>
		<input type="checkbox" name="io[outdoor]" value="outdoor"><label for="io[outdoor]">Outdoor</label>
	</div>
	<div>
		<label for="zip">Zipcode:</label>
		<input type="text" size="25" name="zip" value="">
	</div>
</div>