<div class="happ-listing happ-listing-home">
  <div ng-if="!authenticated" class="container intro-message">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 style="margin-bottom: 5px;">CityHapps is here for families to find fun, safe, and affordable &ldquo;Happs&rdquo; to do experience!</h1>
        <p>
          It’s our goal to bring the most accurate information and member generated knowledge on all things kids directly to your fingertips. Skip the search engine and create a CityHapps user account today.  You will receive more information on upcoming events for kids and families in your area.
        </p>
        <p><strong>We promise, you’ll be glad you did!</strong></p>
        <a class="happ-button" href="/register">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="container" ng-if="currentUser.role=='ROLE_ADMIN'">
    <div class="row" >
      <div class="col-xs-12">
        <a href="/admin/event/add"><i class="fa fa-plus"></i> Add New Event</a> | <a href="/admin/venue/add"><i class="fa fa-plus"></i> Add New Venue</a>
      </div>
    </div>
  </div>
  <div class="container happ-listing-container">
    <div class="row">
      <div class="col-md-3 happ-item" ng-repeat="happ in happs" ch-happ="happ"></div>
    </div>
  </div>
</div>
