<aside class="successful-update" ng-if="success">
  <h1>
    Successfully <span ng-if="success.updated">updated</span> <span ng-if="!success.updated">created</span> venue <b>{{success.name}}</b>
  </h1>
  <p>
    <a href='/admin/venue/add'>Create New Place</a><br>
    <a href='/admin/venue/edit/{{success.id}}' ng-click="reload();">Continue Editing <b>{{success.name}}</b></a><br>
    <a href='/admin/venue/list'>Return to Places List</a><br>
    <a href='/venue/{{success.id}}'>View Content</a>
  </p>
</aside>

<section class="admin-form" ng-if="!success">
  <h1 ng-if="!formData.venue_id">Add Place</h1>
  <h1 ng-if="formData.venue_id">Edit Place</h1>

  <form method="POST" ng-init="">
    <aside class="notifications">
      <div class="green center margin20" ng-if="updated_last">Last updated on {{updated_last}}!</div>
      <div class="red center margin20" ng-if="generalError">* You must fill out the required fields!</div>
      <div class="red center margin20" ng-if="error">{{error}}</div>
    </aside>

    <div class="row">
      <div class="col-md-8">
        <label for="title">
          Place Name
          <span class="red center margin20">*
            <span ng-if="titleError">
              You must have a venue name
            </span>
          </span>
        </label>
        <input type="hidden" id="venue_id" name="venue_id" ng-model="formData.venue_id"/>
        <input type="text" class="form-control" id="venue_name" name="venue_name" placeholder="Place Name" ng-model="formData.venue_name" value=""/>

        <div>
          <label for="event_url">Place URL</label>
          <input type="text" id="venue_url" class="form-control" name="venue_url" value="{{venueData.venues[0].url}}" placeholder="http://www.event.com" ng-model="formData.venue_url" />
        </div>

        <div class="">
          <label for="event_image_url">Place Image</label>
          <div class="row">
            <div class="col-md-12">
              <image-uploader
                  on-crop="venueImageChanged(datauri)"
                  toggle="false"
                  label="Upload Place Image"
                  keep-aspect="true"
                  crop-width="450"
                  crop-height="200"
                  min-width="450"
                  min-height="200">
              </image-uploader>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div ng-if="venueImage()" class="event-image-preview">
                <h3>Preview</h3>
                <img ng-src="{{venueImage()}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <label for="org_image_url">Organization Logo</label>
      <div class="row">
        <div class="col-md-12">
          <image-uploader
              on-crop="orgImageChanged(datauri)"
              toggle="false"
              label="Upload Organization Logo"
              keep-aspect="true"
              crop-width="150"
              crop-height="150"
              min-width="150"
              min-height="150">
          </image-uploader>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div ng-if="orgImage()" class="org-image-preview">
            <h3>Preview</h3>
            <img ng-src="{{orgImage()}}">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" class="form-control" name="phone" value="" ng-model="formData.phone" placeholder="1-800-244-4232" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <label for="street_address">Street Address <span class="red center margin20">* <span ng-if="addressError">You must have a address</span></span></label>
        <input type="text" id="street_address" class="form-control" name="street_address" value="" ng-model="formData.street_address" placeholder="Street Address">
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <label for="city" style="">City</label>
        <input type="text" id="city" class="form-control" name="city" value="" ng-model="formData.city" placeholder="City" />
      </div>
      <div class="col-md-3">
        <label for="state">State</label>
        <select id="state" name="state" placeholder="State" class="form-control" ng-model="formData.state">
          <option value="GA">Georgia</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="zip_code" style="">Zip Code</label>
        <input type="text" id="zip_code" class="form-control" name="zip_code" value="" ng-model="formData.zip_code" placeholder="Zip Code" />

      </div>
    </div>

    <business-hours-week-form ng-model="formData.business_hours"></business-hours-week-form>

    <div class="form-group">
      <label for="desc">Description <span class="red center margin20">* <span ng-if="descError">You must have a description</span></span></label>
      <textarea class="form-control edit-description" name="desc" id="desc" ng-model="formData.desc"></textarea>
    </div>

    <div class="form-group">
      <label for="tags">Tags</label>
      <tags-input id="tags" ng-model="formData.tags" display-property="tag_raw" replace-spaces-with-dashes="false">
        <auto-complete source="loadTags($query)"></auto-complete>
      </tags-input>
    </div>

    <div ng-if="formData.parent_id > 0 || formData.similar_events_model.length == 0">
      <dl>
        <dt>Duplicate of</dt>
        <dd>If you believe this is a duplicate of another event, add it here. We'll make sure it is labeled as such and removed from results.</dd>
      </dl>
      <tags-input id="parent_id" ng-model="formData.parent" key-property="id" display-property="event_name" replace-spaces-with-dashes="false" placeholder="Add an event" max-tags=1 addFromAutocompleteOnly="true">
        <auto-complete source="loadEvents($query)" template="parentIdTemplate" debounceDelay="1000"></auto-complete>
      </tags-input>
      <span></span>
    </div>
    <div class="similar_venues">
      <div ng-if="formData.parent_id > 0">
        This item has been identified as a duplicate of <a href="admin/venue/edit/{{formData.parent_id}}">Place ID: {{formData.parent_id}}</a>
      </div>
      <div ng-if="formData.similar_venues_model.length > 0 && formData.parent_id == null || formData.parent_id == 0">
        <h4>Duplicated Places</h4>
        <p>There are places that appear to be duplicates of this one. Select those venues here to mark them as duplicates and hide them from listings.</p>
        <div ng-repeat="(key, value) in formData.similar_venues_model">
          <div class="single_venue {{isCheched=value.parent_id?'checked-row':''}}">
            <input type="checkbox" id="venue_id_{{value.id}}"
                   checklist-model="formData.similar_venues_storage" checklist-value="value.id"
                   style="display: none"/>
            <label for="venue_id_{{value.id}}" class="label_container">
              <div class="container">
                <span>{{value.venue_name}}</span>
                <small>Place ID: {{value.id}}</small>
                <small>Place Address: {{value.venue_address_1}} ({{value.venue_lat}}@{{value.venue_lng}})</small>
                <small ng-if="value.parent_id">Parent ID: {{value.parent_id}}<span ng-if="value.parent_id === formData.event_id"> (This Item)</span></small>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" value="Submit" class="btn btn-primary" ng-click="processForm(formData)" />
      <span class="red center margin20" ng-if="generalError">
        * You must fill out the required fields!
      </span>
    </div>
  </form>
</section>
