<div class="venue-show">
  <header class="venue-header">
    <div class="row">
      <div class="col-md-4">
        <div class="images">
          <img ng-if="venue.image" class="venue-image" ng-src="{{venue.image}}">
          <div class="org-image" ng-if="venue.organization_image_url">
            <a href="{{venue.venue_url || '#'}}">
              <img ng-src="{{venue.organization_image_url}}">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <section class="venue-info">
          <h1 class="name">{{ venue.name }}</h1>
          <p class="venue-phone">
            {{ display(venue.phone) }}
          </p>
          <div class="venue-address">
            <p ng-if="venue.address_1">{{ display(venue.address_1) }}</p>
            <p ng-if="venue.address_2">{{ display(venue.address_2) }}</p>
            <p ng-if="venue.address_3">{{ display(venue.address_3) }}</p>
            <p>
              {{ display(venue.city)}},
              {{ display(venue.state) }} {{ display(venue.postal_code) }}
            </p>
          </div>

          <div class="row">
            <div class="pull-left venue-tags">
              <div class="venue-tag" ng-if="venue.relationships.tags">
                <i class="fa fa-tag"></i>&nbsp;
                <span ng-repeat="tag in venue.relationships.tags">
                  <span class="venue-tag">{{ tag.tag_raw }}</span>{{ $last ? '' : ' ' }}
                </span>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="col-md-4">
        <business-hours ng-model="venue.business_hours"></business-hours>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="venue-description" ng-bind-html="venue.description"></div>
      </div>
    </div>
  </header>

  <div class="row" ng-if="currentUser.canEdit(venue)">
    <div class="col-xs-12">
      <a href="/admin/venue/edit/{{ venue.id }}">
        <i class="fa fa-pencil-square-o"></i> Edit Place
      </a>
    </div>
  </div>

  <div class="happ-listing">
    <div class="container happ-listing-container">
      <div class="row">
        <div class="col-md-3 happ-item" ng-repeat="happ in venue.relationships.happs" ch-happ="happ"></div>
      </div>
    </div>
  </div>
</div>
