<div class="container">
  <div class="row header-controls">
      <div class="col-sm-6 filter-controls">
        <span class="filter-control" ng-click="hideFilter=!hideFilter" ng-class="{true: 'active'}[!hideFilter]">
          <i class="fa fa-filter"></i>&nbsp;&nbsp;Filter By&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
        </span>
        <!--span class="sort-control">
          <i class="fa fa-exchange fa-rotate-90"></i>&nbsp;&nbsp;Sort By&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
        </span-->
      </div>
      <div class="col-sm-6">
        <div class="filter-search">
          <i class="fa fa-search"></i>
          <input type="text" ng-model="filterDefaults.search" />
        </div>
      </div>
  </div>
</div>
<div class="filter-options container-fluid" ng-hide="hideFilter">
  <div class="filter-date row">
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_today" ng-model="filterDefaults.today"><label for="date_today">Today</label>
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_tomorrow" ng-model="filterDefaults.tomorrow"><label for="date_tomorrow">Tomorrow</label>
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_weekend" ng-model="filterDefaults.weekend"><label for="date_weekend">Weekend</label>
    </div>
    <div class="col-xs-6 col-sm-3 date-calendar-wrapper">
      <input type="text" id="date_calendar" ng-model="filterDefaults.calendar" ng-class="{hasValue: filterDefaults.calendar!=''}">
      <label for="date_calendar">
        <i class="fa fa-calendar"></i>
        <span ng-if="filterDefaults.calendar!=''"> {{ filterDefaults.calendar }} <span ng-click="filterDefaults.calendar=''"><i class="fa fa-times"></i></span></span>
      </label>
    </div>
  </div>
  <div class="filter-more-options row">
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Good For:
      </div>
      <div class="choices">
        <div class="checkbox-group" ng-repeat="ageLevel in ageLevels">
          <input type="checkbox" id="age_level_{{ ageLevel.id }}" ng-model="filterDefaults.ageLevel[ageLevel.id]">
          <label for="age_level_{{ ageLevel.id }}"><span><i class="fa fa-check"></i></span>{{ ageLevel.name }}</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Time of Day:
      </div>
      <div class="choices">
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_morning" ng-model="filterDefaults.morning">
          <label for="timeOfDay_morning"><span><i class="fa fa-check"></i></span>Morning</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_afternoon" ng-model="filterDefaults.afternoon">
          <label for="timeOfDay_afternoon"><span><i class="fa fa-check"></i></span>Afternoon</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_evening" ng-model="filterDefaults.evening">
          <label for="timeOfDay_evening"><span><i class="fa fa-check"></i></span>Evening</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_night" ng-model="filterDefaults.night">
          <label for="timeOfDay_night"><span><i class="fa fa-check"></i></span>Night</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Indoor|Outdoor:
      </div>
      <div class="choices">
        <div class="checkbox-group">
          <input type="checkbox" id="io_indoor" ng-model="filterDefaults.indoor">
          <label for="io_indoor"><span><i class="fa fa-check"></i></span>Indoor</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="io_outdoor" ng-model="filterDefaults.outdoor">
          <label for="io_outdoor"><span><i class="fa fa-check"></i></span>Outdoor</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div>
          <div class="label">
            <label for="zipcode">Zipcode:</label>
          </div>
          <input type="text" size="20" id="zipcode" ng-model="filterDefaults.zip">
      </div>
    </div>
  </div>
  <a href="#" class="closeFilter" ng-click="hideFilter=!hideFilter">Close</a>
</div>
<div class="filter-footer">
  <div class="filter-date row">
    <div class="col-xs-3">
      <input type="checkbox" id="date_today_footer" ng-model="filterDefaults.today"><label for="date_today_footer">Today</label>
    </div>
    <div class="col-xs-3">
      <input type="checkbox" id="date_tomorrow_footer" ng-model="filterDefaults.tomorrow"><label for="date_tomorrow_footer">Tomorrow</label>
    </div>
    <div class="col-xs-3">
      <input type="checkbox" id="date_weekend_footer" ng-model="filterDefaults.weekend"><label for="date_weekend_footer">Weekend</label>
    </div>
    <div class="col-xs-3 date-calendar-wrapper">
      <input type="text" id="date_calendar_footer" ng-model="filterDefaults.calendar" ng-class="{hasValue: filterDefaults.calendar!=''}">
      <label for="date_calendar_footer">
        <i class="fa fa-calendar"></i>
        <span ng-if="filterDefaults.calendar!=''"> {{ filterDefaults.calendar }} <span ng-click="filterDefaults.calendar=''"><i class="fa fa-times"></i></span></span>
      </label>
    </div>
  </div>
</div>
