<div class="container">
<div class="row header-controls">
    <div class="col-sm-6 filter-controls">
      <span class="filter-control" ng-click="hideFilter=!hideFilter" ng-class="{true: 'active'}[!hideFilter]">
        <i class="fa fa-filter"></i>&nbsp;&nbsp;Filter By&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
      </span>
      <!--span class="sort-control">
        <i class="fa fa-exchange fa-rotate-90"></i>&nbsp;&nbsp;Sort By&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
      </span-->
    </div>
    <div class="col-sm-6">
      <div class="filter-search">
        <i class="fa fa-search"></i>
        <input type="text" ng-model="filterDefaults.search" />
      </div>
    </div>
</div>
</div>
<div class="filter-options container-fluid" ng-hide="hideFilter">
  <div class="filter-date row">
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_today" ng-model="filterDefaults.today" ng-change="getHapps()"><label for="date_today">Today</label>
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_tomorrow" ng-model="filterDefaults.tomorrow" ng-change="getHapps()"><label for="date_tomorrow">Tomorrow</label>
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_weekend" ng-model="filterDefaults.weekend" ng-change="getHapps()"><label for="date_weekend">Weekend</label>
    </div>
    <div class="col-xs-6 col-sm-3">
      <input type="checkbox" id="date_calendar" ng-model="filter.date.calendar"><label for="date_calendar"><i class="fa fa-calendar"></i></label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Good For:
      </div>
      <div class="choices">
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_infants" ng-model="filterDefaults.infants" ng-change="getHapps()"><label for="age_level_infants">Infants</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_toddlers" ng-model="filterDefaults.toddlers" ng-change="getHapps()"><label for="age_level_toddlers">Toddlers</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_preteens" ng-model="filterDefaults.preteens" ng-change="getHapps()"><label for="age_level_preteens">Preteens</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_young_adults" ng-model="filterDefaults.youngadults" ng-change="getHapps()"><label for="age_level_young_adults">Young Adults</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_adults" ng-model="filterDefaults.adults" ng-change="getHapps()"><label for="age_level_adults">Adult</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="age_level_seniors" ng-model="filterDefaults.seniors" ng-change="getHapps()"><label for="age_level_seniors">Seniors</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Time of Day:
      </div>
      <div class="choices">
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_morning" ng-model="filterDefaults.morning" ng-change="getHapps()"><label for="timeOfDay_morning">Morning</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_afternoon" ng-model="filterDefaults.afternoon" ng-change="getHapps()"><label for="timeOfDay_afternoon">Afternoon</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_evening" ng-model="filterDefaults.evening" ng-change="getHapps()"><label for="timeOfDay_evening">Evening</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="timeOfDay_night" ng-model="filterDefaults.night" ng-change="getHapps()"><label for="timeOfDay_night">Night</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div class="label">
          Indoor|Outdoor:
      </div>
      <div class="choices">
        <div class="checkbox-group">
          <input type="checkbox" id="io_indoor" ng-model="filterDefaults.indoor" ng-change="getHapps()"><label for="io_indoor">Indoor</label>
        </div>
        <div class="checkbox-group">
          <input type="checkbox" id="io_outdoor" ng-model="filterDefaults.outdoor" ng-change="getHapps()"><label for="io_outdoor">Outdoor</label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3">
      <div>
          <label for="zipcode">Zipcode:</label>
          <input type="text" size="25" id="zipcode" ng-model="filterDefaults.zip" ng-keyup="getHapps()">
      </div>
    </div>
  </div>
</div>