<div ng-controller="registerFormController" class="user-pages user-page-login">
    <div class="bg-image"></div>
    <div class="main-column">
        <a href="/">
            <img class="user-logo" src="/assets/img/logo-atl.png">
        </a>
        <div class="social-login facebook-login">
            <a href="/social_auth/facebook/login" target="_self"><i class="fa fa-facebook-official"></i> Log In with Facebook</a>
        </div>
<!--         <div class="social-login google-login">
            <a href="/social_auth/google/login" target="_self"><i class="fa fa-google-plus-square"></i> Log In with Google</a>
        </div> -->
        <div class="big-or">
            <span>or</span>
        </div>
        <div class="register-error" ng-if="loginError">{{ loginError }}</div>
        <form ng-keyup="$event.keyCode == 13 && auth.login()" class="loginForm">

            <!-- NAME -->
            <div class="form-group">
                <input type="email" placeholder="Email" class="registerEmail block" ng-model="auth.email" ng-model-onblur>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <input type="password" placeholder="Password" class="registerPassword block" autocorrect="off" ng-model="auth.password">
            </div>

            <button type="button" class="sign-up-button" ng-click="auth.login()">
                Log In
            </button>
        </form>

        <div class="login-link">
            <a href="/reset">Forgot Password?</a>
        </div>
        <div class="login-link">
            <a href="/register">Create a New Acccount</a>
        </div>
    </div>
</div>
