<div class="user-pages user-page-register">
	<div class="bg-image"></div>
	<div class="main-column">
    	<a href="/">
        	<img class="user-logo" src="/assets/img/logo-atl.png">
        </a>
  		<div class="social-login facebook-login">
        <a href="/social_auth/facebook/login" target="_self"><i class="fa fa-facebook-official"></i> Sign up with Facebook</a>
        </div>
		<div class="big-or">
			<span>or</span>
		</div>
    	<form name="register" novalidate>
    		<div class="register-error" ng-show="register.$invalid && register.$dirty">
    			Fields in red contain errors
    		</div>

    		<!-- NAME -->
    		<div class="form-group">
        		<input type="text" name="name" placeholder="Name" ng-model="formData.name" required>
        	</div>

        	<!-- CITY -->
    		<div class="form-group">
        		<input type="text" name="city" placeholder="City" ng-model="formData.city" required>
        	</div>

        	<!-- EMAIL -->
    		<div class="form-group">
				<input type="email" placeholder="Email" autocomplete="off" ng-remote-validate="/user/check" ng-remote-method="POST" required name="email" class="" ng-model="formData.email" ng-model-onblur>
			    <div class="register-error" ng-if="register.email.$error.ngRemoteValidate" >This email already exists in the system.</div>
			</div>

			<!-- PASSWORD -->
			<div class="form-group">
				<input type="password" placeholder="Password" name="password" ng-minlength='6' required class="" ng-model="formData.password" ng-model-onblur>
				<input type="password" placeholder="Re-enter Password" name="password2" required ui-validate=" '$value==formData.password' " ui-validate-watch=" 'formData.password' "class="registerPassword2 block" ng-model="formData.password2" ng-model-onblur>
				<div class="register-error" ng-show="register.password2.$error.validator">Passwords do not match!</div>
				<div class="register-error" ng-if="register.password.$error.minlength">Please use a minumum of 6 characters for the password.</div>
			</div>

	        <button type="button" class="sign-up-button" ng-disabled="register.$invalid" ui-sref="userRegisterCategories">
                Sign Up
            </button>

            <!-- || register.email.$error.required || register.email.$error.email || register.email.$error.ngRemoteValidate || register.password.$error.required || register.password.$error.minlength || register.password2.$error.required || register.password2.$error.validator -->

		</form>
		<div class="login-link">
			<a class="" href="/login">Already have an account?</a>
		</div>
	</div>
</div>


